html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #FFFFFF;
}
body, td, th, input, select, textarea, option, optgroup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
input[type='text'], input[type='password'] {
	padding: 2px;
}
select {
	padding: 1px;
}
textarea {
	padding: 2px;
}
a{
	color: #003366;
	text-decoration: underline;
	cursor: pointer;
}

a:visited {
	color: #003366;
}

a img {
	border: 0;
}
form {
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}

.clear{
	clear:both;
}
#header .div1 {
	height: 112px;
	padding: 0px 30px;
	background: white; /*url('../image/blue_fabric.jpg');*/
	min-width: 900px;
}
#header .div2 {
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	float: left;
	cursor:pointer;
}
#header .div3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-align: right;
	padding: 15px 0px 0px 0px;
	float: right;
}
#header .div2 span {
	font-weight: bold;
}


#menu.links{
	background: #414141; /* Old browsers */
	background: -webkit-linear-gradient(top,  #414141 0%,#212121 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top,  #414141 0%, #212121 100%); /* FF3.6+ */
	background: -o-linear-gradient(top,  #414141 0%,#212121 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #414141 0%,#212121 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #414141 0%,#212121 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#212121',GradientType=0 ); /* IE6-8 */

	position: relative;
	z-index: 1;
	clear: both;
	padding-right: 30px;
	overflow:visible;
}

#menu ul{
	list-style: none;
	margin:0;
}
#menu.links > .left {
	float: left;
	width:80%;
}
#menu.links > .right {
	float: right;
	width:20%
}

#menu.links ul.top_menu > li + li {
	border-left: 2px ridge #545454;
}

#menu.links ul.top_menu > li {
	display: inline-block;
	text-decoration: none;
	margin: 2px 0;
	padding: 6px 0;
}

#menu.links ul.top_menu > li:hover{
	background: black;
	cursor: pointer;
}

#menu.links ul.top_menu > li:first-child{
	margin-left:0;
}

#menu.links ul.top_menu > li:last-child{
	margin-right:0;
}

#menu.links ul.top_menu > li > a{
	color: #EEEEEE;
	font-size:14px;
	text-decoration:none;
	font-family: Arial, sans-serif, Helvetica;
	padding: 0 15px;
}


#menu.links ul.top_menu .selected .top {
	background: url('../image/selected.png') repeat-x;
	color: #FFFFFF;
}

#menu li ul.link_list{
	text-align:left;
	background:rgba(0,0,0,.8);
	box-shadow: rgba(0,0,0,.2) 3px 3px 5px, rgba(0,0,0,.1) -2px 0 6px, rgba(0,0,0,.1) 0 -2px 6px;
}

#menu.links li ul.link_list li > a{
	color: #EEEEEE;
	font-size:14px;
	text-decoration:none;
	font-family: Arial, sans-serif, Helvetica;
	display:block;
	padding: 7px 10px;
}
#menu li ul.link_list li{
	border-radius: 0;
}
#menu li ul.link_list li:hover{
	background-color: black;
}

ul.link_list > li{
	position: relative;	
}

li ul.link_list{
	position:absolute;
	top: 108%;
	left: -9999px;
	min-width:190px;
	padding: 0;
	margin:0;
	-webkit-transform: scale3d(1,0,1);
		-moz-transform: scale3d(1,0,1);
		 -ms-transform: scale3d(1,0,1);
		  -o-transform: scale3d(1,0,1);
			  transform: scale3d(1,0,1);
	-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		 -ms-transform-origin: 0 0;
		  -o-transform-origin: 0 0;
			  transform-origin: 0 0;
}

li.active > ul.link_list{
	-webkit-transition: -webkit-transform 0s linear 1s,left 0s linear 1s;
}

li ul.link_list li ul.link_list{
	-webkit-transform: scale3d(0,1,1);
		-moz-transform: scale3d(0,1,1);
		 -ms-transform: scale3d(0,1,1);
		  -o-transform: scale3d(0,1,1);
			  transform: scale3d(0,1,1);
}

li ul.link_list li{
	padding: 0;
	cursor:pointer;
}
li ul.link_list li.has_children{
	background: url('../image/arrow-right.png') 95% center no-repeat;
}

li ul.link_list li:hover{
	background-color: black;
}


ul.top_menu > li:hover > a, ul.top_menu > li.active > a{
	padding-bottom:25px !important;
	
}

li:hover > ul.link_list{
	left: 0;
	-webkit-transform: scale3d(1,1,1) !important;
	-webkit-transition: -webkit-transform .2s linear;
}

ul > li > ul > li:hover > ul.link_list, ul > li > ul > li.active > ul.link_list{
	left: 100%;
	top:0;
}


/*** Container Content ***/

#container {
	height: 100%;
}
body > #container {
	height: auto;
	min-height: 100%;
}
#content {
	background: #FFFFFF url('../image/background.png') 0px 1px repeat-x;
	padding: 10px 30px 0px 30px;
	min-width: 900px;
	padding-bottom: 128px;
}

.list .actions a{
	text-decoration:none;
}

.list tbody tr:nth-child(even) > td{
	background: rgba(0,0,200,.2);
}
	
#footer {
	background: #FFFFFF url('../image/footer.png') repeat-x;
	height: 90px;
	padding-top: 38px;
	text-align: center;
	font-size: 12px;
	color: #333;
	position: relative;
	clear: both;
}
#footer a {
	color: #333;
	text-decoration: underline;
}
.breadcrumb, .breadcrumb a {
	font-size: 12px;
	color: #666;
	margin-bottom: 15px;
}

.message_box {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
	border: 1px solid #CFCFCF;
	background-color: #EEEEEE;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.message_box strong{
	color: #003A88;
	font-weight:bold;
	font-size:13px;
}

.message_box.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	background-size:16px 16px;
	border-color: #BBDF8D;
}
.message_box.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border-color: #F8ACAC;
}
.message_box.attention,.message_box.notify {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border-color: #F2DD8C;
}

.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	margin-top: 3px;
	color: #FF0000;
	display: block;
	font-size: 12px;
	font-weight: normal;
}
.help {
	color: #666;
	font-size: 11px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
.help.center {
	text-align:center;
}

.alert {
	color: red;
	font-size: 11px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
.icon {
	vertical-align: middle;
	cursor: pointer;
}
.image {
	border: 1px solid #EEEEEE;
	padding: 10px;
	display: inline-block;
}
.image img {
	margin-bottom: 5px;
}

.click_image_text{
	position:relative;
	font-size:10px;
	color: #999;
	text-align:center;
}
.click_image_text img{
	position:relative;
	top:6px;
	margin-right:5px;
}

.box {
	margin-bottom: 15px;
}
.box > .heading {
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #DBDBDB;
	background: url('../image/box.png') repeat-x;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.box > .heading h1 {
	margin: 0px;
	padding: 11px 0px 0px 0px;
	color: #003A88;
	font-size: 16px;
	float: left;
}
.box > .heading h1 img {
	float: left;
	margin-top: -1px;
	margin-left: 3px;
	margin-right: 8px;
}
.box > .heading .buttons {
	float: right;
	padding-top: 7px;
	margin-right: 5px;
}
.box > .heading .buttons .button {
	margin-left: 5px;
}
.box > .content {
	padding: 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	min-height: 300px;
	overflow: auto;
}
a.button, .list a.button, input.button{
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	background: #003A88;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	cursor:pointer;
}

a.button.designer{
	margin-left:20px;
}

.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
.list tbody td a {
	text-decoration: underline;
}
.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
	background: #FFFFFF;
}
.list .left {
	text-align: left;
	padding: 7px;
}
.list .right {
	text-align: right;
	padding: 7px;
}
.list .center {
	text-align: center;
	padding: 7px;
}

.list .column_title{
	font-size: 20px;
	font-weight:bold;
}

.list .sortable:after{
	position:relative;
	top: 5px;
	padding-left:10px;
	height: 24px;
	width: 17px;
	background: url('../image/sort-sprite.png') right top no-repeat;
	display:inline-block;
	content:"";
}

.list .sortable.asc:after {
	background-position: right center;
}

.list .sortable.desc:after {
	background-position: right center;
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
	
}

.list .sortable:hover:after{
	background-position: right bottom;
}

.list .sortable.asc:hover:after{
	background-position: right bottom;
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.list .sortable.desc:hover:after{
	background-position: right bottom;
	-moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
    filter: none;
    -ms-filter: none;
}

.list tr.filter td {
	padding: 5px;
	background: #E7EFEF;
}
.pagination {
	border-top: 1px solid #DDDDDD;
	display: inline-block;
	width: 100%;
	padding-top: 6px;
}
.pagination .links {
	float: left;
	padding-top: 6px;
}
.pagination .links a {
	border: 1px solid #DDDDDD;
	padding: 4px 10px;
	font-size: 12px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 6px;
	font-size: 12px;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form > tbody > tr > td:first-child {
	width: 200px;
}
table.form > tbody > tr > td {
	padding: 10px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
}

table table.list{
	margin: 10px 0;
}
table table.list thead tr td{
	padding: 5px 0;
	background: #AAA;
}

table table.list tfoot tr td{
	padding: 5px 0;
}

.button_add{
	background: url(../image/button_add.gif) no-repeat;
	min-width:61px;
	min-height:27px;
	padding:0;
	display:inline-block;
}

.button_remove{
	background: url(../image/button_remove.png) no-repeat;
	min-width:30px;
	min-height:30px;
	padding:0;
	display:inline-block;
	cursor: pointer;
}


ul.item_list{
	list-style:none;
	width: 80%;
}

ul.item_list.ui-sortable{
	cursor:move;
}

ul.item_list li{
	list-style:none;
	overflow:auto;
	background: #FFF;
}

ul.item_list li:nth-child(even){
	background: #E4EEF7;
}


ul.item_list li div{
	float:left;
	padding:5px;
}
ul.item_list li img.remove{
	float:right;
}


ol.sccrollbox {
	padding: 0;
	margin: 0;
}
ol.scrollbox li {
	list-style:decimal inside;
	padding: 0 3px;
	margin: 0;
	color: red;
	font-size:16px;
	font-weight:bold;
	overflow:auto;
}

.scrollbox {
	padding: 2px 0;
	border: 1px solid #CCCCCC;
	width: 50%;
	min-width:450px;
	height: 150px;
	background: #FFFFFF;
	overflow-y: scroll;
}

.scrollbox input + label{
	display: block;
	padding:3px;
	margin:0;
}

.scrollbox td:hover, .scrollbox li{
	cursor: pointer;
}
.scrollbox td:hover, .scrollbox li:hover{
	background: #BBDF8D !important;
}


.scrollbox li div {
	padding: 2px;
}

ol.scrollbox > li > div{
	margin-right: 30px;
}

.scrollbox div input, .scrollbox li input {
	padding: 0px;
	margin: 3px 3px 0 3px;
	float:left;
}

ul.scrollbox li{
	list-style:none;
	overflow:auto;
	background: #FFF;
}

.scrollbox.ui-sortable li{
	cursor:move;
}

.scrollbox li div{
	display:inline-block;
}

.scrollbox li:nth-child(even){
	background: #E4EEF7;
}

.scrollbox div.even{
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}

.scrollbox img {
	float: right;
	cursor: pointer;
}

.scrollbox.clickable div{
	cursor: pointer;
	overflow:auto;
	padding: 1px 10px;
}
.scrollbox.clickable div:hover{
	background: #BBDF8D;
}

.scrollbox.editable_list input{
	background:transparent;
	border: 1px solid transparent;
	padding: 2px;
}
.scrollbox.editable_list input:hover{
	border-color: #0A0A38;
}
.scrollbox.editable_list input:active, .scrollbox.editable_list input:focus{
	background: #D4FFD4;
	border-color: #008000;
	color: #0A0A38;
}

.scrollbox.large{
	width: 90%;
	height: 400px;
}

.scrollbox.large > li > img{
	width:40px;
}

.scrollbox_buttons{
	width: 50%;
	text-align:center;
}

.scrollbox_buttons a{
	min-width:80px;
	text-align:center;
	display:inline-block;
}

.htabs {
	padding: 0px 0px 0px 10px;
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.vtabs {
	width: 190px;
	padding: 10px 0px;
	min-height: 300px;
	float: left;
	display: block;
	border-right: 1px solid #DDDDDD;
}
.vtabs a {
	display: none;
}
.vtabs a, .vtabs > span {
	display: block;
	float: left;
	width: 160px;
	margin-bottom: 5px;
	clear: both;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	background: #F7F7F7;
	padding: 6px 14px 7px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	color: #000000;
}
.vtabs a.selected {
	padding-right: 15px;
	background: #FFFFFF;
}
.vtabs a img, .vtabs span img {
	position: relative;
	top: 3px;
	cursor: pointer;
}
.vtabs-content {
	margin-left: 205px;
}

.vtabs a .tab_title{
	display:inline-block;
}
.accordion-heading {
	background: #EFEFEF;
	border: 1px solid #DDDDDD;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.accordion-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.accordion-content {
	padding: 0px 0px 15px 0px;
	overflow: auto;
}
.overview {
	float: left;
	width: 49%;
	margin-bottom: 20px;
}
.overview table {
	width: 100%;
}
.overview td + td {
	text-align: right;
}
.statistic {
	float: right;
	width: 49%;
	margin-bottom: 20px;
}
.range {
	float: right;
	color: #FFF;
	vertical-align: middle;
}
.range {
	padding-top: 1px;
	padding-right: 1px;
}
.range, .range select {
	font-size: 11px;
}
.latest {
	clear: both;
}
.latest tbody td {
	background: #FFF;
}
.dashboard-heading {
	background: #547C96;
	color: #FFF;
	border-bottom: 1px solid #8EAEC3;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
}
.dashboard-content {
	background: #FCFCFC;
	border: 1px solid #8EAEC3;
	padding: 10px;
	min-height: 180px;
}
.refresh {
	cursor: pointer;
	position: relative;
	top: 3px;
}

/** FLASH SALES STYLE **/

.p_price{
	color:green;
	display:inline-block;
}
.p_price input{
	color:green;
	line-height:12px;
	font-size:12px;
	border:none;
	background:none;
}
.p_price input:active, .p_price input:focus{
	color:red!important;
	border-bottom:red solid 1px;
	background:white;
	text-align:right;
}

input.p_sortorder:active,input.p_sortorder:focus{
	text-align:right;
	color:red;
	border-bottom: red solid 1px;
	background:white;
}
.p_name{
	display:inline-block;
	width: 300px;
	font-size:12px;
	color:black;
}


.product_template{
	float:left; 
	margin-left: 10px;
}

/*** FEATURED PRODUCTS MODULE STYLE **/
#product_filter{
	list-style:none;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	-moz-margin-before:0;
	-moz-margin-after:0;
	padding:0;
}
.product_filter_item{
	overflow:auto;
	cursor: move;
}
.product_filter_item:nth-child(even){
	background: #E4EEF7;
}
.filter_name{
	float:left
} 
.filter_default{
	float:right;
	margin-right:20px;
}

/** Designer Form **/
ul.phone_list{
	list-style:none;
}
ul.phone_list + a{
	display:block;
	text-align:center;
	padding-right:50px;
}
.contact_address div label{
	display:inline-block;
	width: 100px;
}
.contact_address .contact_street_1 input,.contact_address .contact_street_2 input{
	width:250px;
}
/*** CAROUSEL ADMIN MENU STYLE ***/
.slide_data{
	position:relative;
	border: 1px dashed rgba(40,40,200,.5);
	padding: 10px;
	margin-bottom:10px;
}
.slide_data .slide_article_title{
	font-weight:bold;
	font-size: 16px;
}

.slide_data label{
	display:inline-block;
	width:300px;
}
.slide_data textarea{
	width:300px;
	height:50px;
}
.slide_data input{
	width:250px;
}
.slide_data textarea, .slide_data input{
	margin-top: 15px;
	display:inline-block;
}
.slide_data .remove_slide_img{
	position:absolute;
	right:10px;
	top:10px;
	cursor: pointer;
}

.datetime{
	width:130px;
}

.batch_actions{
	margin-left:10px;
	margin-right:5px;
	padding-top:7px;
	float:right;
}

.actions .action_value{
	position:relative;
	display:none;
}
.actions .action_value.active{
	display:inline-block;
}

.action-delete{
	color: red;
}
.action-delete:visited{
	color: red;
}

#featured_articles, #featured_designers, #featured_list{
	list-style:none;
	margin:0;
	padding:0;
}
#featured_articles li,#featured_designers li, #featured_list li{
	overflow:auto;
}
#featured_designers img, #featured_list img{
	padding-top:2px;
	float:right;
}
#featured_designers div, #featured_list div{
	float:left;
}

#featured_articles{
	width:700px;
}
#featured_articles li input{
	float:left;
	border:none;
	padding:3px 5px;
	text-align:left;
	background:none;
}
#article_url, #featured_articles li input+input{
	margin-left:20px;
}
#featured_articles li input:focus{
	color:red;
	background:#FFD1D1;
}

#featured_articles li:nth-child(even),#featured_designers li:nth-child(even),#featured_list li:nth-child(even), #featured-product div:nth-child(even){
	background: #E4EEF7;
}
#featured_articles li, #featured_designers li, #featured_list li, #featured-product div{
	cursor:move;
}

ul#designer_list{
	list-style:none;
	margin:0;
	padding:0;
	padding-bottom:10px;
}
ul#designer_list a{
	padding-left:10px;
}

td label{
	margin-right:10px;
	margin-left:20px;
}

td input+label{
	margin-left:2px;
}
#warn_before_update{
	color:red;
	display:inline-block;
	margin-left:10px;
}

.rss_title_chars{
	width: 40px;
		float:left;
	color:green;
}
.rss_title_chars.full{
	color:red;
}

td.mail_info label{
	margin:0;
	margin-bottom:5px;
	margin-top:10px;
	display:block;
}

.run_cron_button{
	margin-bottom:10px;
	margin-left: 40%;
}

/** HELP DOCUMENTATION **/
#help_docs ol.top > li{
	margin-bottom:10px;
}
#help_docs a{
	color:#FF0371;
	cursor:pointer;
}
#help_docs ol{
	font-size:24px;
	color:#003A88;
}
#help_docs ol ol{
	font-size:20px;
	color:#3750EF;
}
#help_docs ol ol ol{
	font-size:18px;
	color:#468DBC;
}
#help_docs ol ol ol ol{
	font-size:16px;
	color:#4D65B5;
}
#help_docs ol ol{
	display:none;
}
#help_docs ol li.expandable{
	cursor:pointer;
	padding:5px;
}
#help_docs ol li.expandable:hover{
	background: rgba(150,200,100,.1);
}
#help_docs ol li.expandable:before{
	content: url(../image/help_plus.png);
	position:relative;
	top:2px;
	left:-4px;
}
#help_docs ol li.expandable.open:before{
	content: url(../image/help_minus.png);
}

#help_docs .important{
	color:red;
	font-weight:bold;
}
#help_docs .n{
	color:#2C3B6A;
	font-weight:bold;
}
.vtabs a.normal{
	border:none;background:none;color:#036;float:none;font-size:11px;text-decoration:none;cursor:auto;padding:0;margin:0;display:inline;
}

#ship_autofill{
	margin-bottom:10px;
}
.fill_ship{
	margin:8px 8px;
	text-decoration:none;
}
.fill_ship + .fill_ship{
	border-left:#777777 1px solid;
	padding-left:8px;
	margin-left:0;
}


.batch_ckedit + span{
	position:absolute;
	top:15px;
	right:0;
	width:540px;
	background: rgba(0,0,0,.7);
	padding: 15px!important;
}

.hook_input{
	padding:5px;
	border: 1px dashed #777;
	margin-bottom:10px;
}
.hook_input label{
	width:105px;
	display:inline-block;
}
.hook_input a{
	color:red;
	margin-left:8px;
}
.remove_hook{
	float:right;
	margin-right:10px;
}

.display_stock_radio span{
	display:block;
}

/** Newsletter Module **/
#newsletter_featured > div{
	float:left;
	margin-left: 10px;
}

#newsletter_featured .image_heading{
	text-align:center;
}
#newsletter_featured .image_heading input{
	width: 90%;
	margin:5px 0;
}
#newsletter_featured .image_heading input:hover{
	border-color: #003A88;
}
#newsletter_featured .image_heading input:active, #newsletter_featured .image_heading input:focus{
	border-color: #008000;
	color: #003A88;
}


#newsletter_featured .featured_info > div{
	margin-top:15px;
	overflow:auto;
}
#newsletter_featured .featured_info label{
	width: 80px;
	display:block;
	float:left;
}

#newsletter_featured .featured_info input, #newsletter_featured .featured_info textarea{
	width: 300px;
	margin-left:10px;
	float:left;
}

#newsletter_featured .featured_info textarea + span{
	float:left;
}

#preview_page{
	position:absolute;
	top:5%;
	left:10%;
	width:80%;
	height:90%;
	min-width:900px;
	min-height:600px;
	background:white;
	padding:20px;
	display:none;
	z-index:20;
	overflow:hidden;
}

#preview_window{
	display:none;
	overflow:auto;
	width:96%;
	height: 96%;
}

#preview_shade{
	height:100%;
	width:100%;
	background: rgba(0,0,0,.4);
	position:absolute;
	top:0;
	left:0;
	z-index:10;
}
.editable > div{
	margin-bottom: 10px;
}
.editable > div label{
	display:block;
	margin:0;
}

.editable > div input{
	width: 50%;
}

.editable > div input.long{
	width:90%;
}


/** Navigation Links Form **/
#sorted_links{
}

#links_list_data .content .right{
	float:right;
	width:75%;
}

#links_list_data .content .left{
	float:left;
	border-right: 1px dotted #CCCCCC;
	width:20%;
}

#links_list_data .content .left input.button{
	width:50%;
	margin-left:25%;
}

#links_list ul{
	font-size: 16px;
	color: #003A88;
	list-style:none;
	margin:0;
	padding: 0;
}

#links_list ul li{
	padding:5px 10px;
	margin-bottom:8px;
	background: rgba(0,0,0,.1);
	border-radius: 8px;
}

#links_list ul li.placeholder,#links_list ul li.ui-state-highlight{
	height:6px !important;
	border: 1px dashed rgba(0,200,0,8);
	background: rgba(0,200,0,.3);
	border-radius: 8px;
}

#links_list ul.show_empty{
	height:18px;
	width:80%;
	border: 1px dashed rgba(0,80,200,.5);
	background: rgba(0,80,200,.1);
	border-radius: 8px;
	-webkit-transition: height .1s linear;
}
#links_list .ui-sortable-helper ul.show_empty{
	height: 0;
	border:none;
}

#links_list ul ul{
	margin-left: 10px;
}

#links_list ul li .link_info{
	cursor:move;
}
#links_list ul li .show_link_edit{
	float:right;
	cursor: pointer;
}

#links_list .remove_link{
	margin-left:10px;
}

.login-header{
	background: #f0f0f0;
	border-radius: 8px;
}


/** Social Network Form */
#social_network_list{
	margin:0;
	padding:0;
	list-style:none;
	overflow:auto;
}

#social_network_list li{
	float:left;
	margin-left:20px;
}

.social_icon .image{
	padding: 0;
	border: none;
}

.social_icon .image img{
	margin: 0;
}

.social_url{
	position:relative;
	top: -10px;
}
.social_url input{
	width: 200px;
}

.social_network img.delete{
	position:relative;
	top: -5px;
}

#add_network{
	width:100px;
	cursor:pointer;
	color:blue;
}

/** Press / Editorial Form **/
#press_item_list{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow:auto;
}

#press_item_list li > span{
	float:left;
}

#press_item_list .press_url_entry{
	margin-top:15px;
}
#press_item_list .press_url input{
	width: 400px;
}

#press_item_list li{
	overflow:auto;
}

#press_item_list li .press_description{
	margin-left:25px;
}

#press_item_list li .button_remove{
	margin-left:20px;
	margin-top:100px;
}

/** Autocomplete **/
.autocomplete_label{
	padding:0;
}