/******** PAGE DEFAULTS ********************/
html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	position: relative;
}

body, td, th, input, textarea, select, a {
	font-size: 12px;
}

h1, .welcome {
	text-align: center;
	color: #4F4F4F;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 45px;
	font-weight: normal;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}

h2 {
	color: #636363;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}

h3 {
	color: #4D4D4D;
	font-size: 18px;
}

p {
	margin-top: 0px;
	margin-bottom: 20px;
}

a, a b {
	color: #999999;
	text-decoration: underline;
	cursor: pointer;
}

a:visited {
	color: #999999;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

form {
	padding: 0;
	margin: 0;
	display: inline;
}

input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}

select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}

label {
	cursor: pointer;
}

ul {
	margin: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-moz-padding-start: 0;
	-moz-padding-end: 0;
	-moz-margin-before: 0;
	-moz-margin-after: 0;
	list-style: none;
}

/* layout */
#container {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#page {
	padding: 20px 0;
}

#content_holder {
	min-height: 600px;
	margin-bottom: 25px;
	padding-top: 40px;
	position: relative;
	overflow: visible;
}

#content_top {
}

#content_bottom {
}

#column_left {
	float: left;
	width: 200px;
}

#column_right {
	float: right;
	width: 200px;
}

#content {
	overflow: visible;
}

#column_left ~ #content {
	padding-left: 215px;
}

#column_right ~ #content {
	padding-right: 215px;
}

/* header */
#header {
	position: relative;
	text-align: center;
	z-index: 1000;
}

#header_right {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 5;
}

#header_right > div {
	margin-bottom: 15px;
}

#logo {
	display: inline-block;
	margin-top: 1em;
}

#logo a {
	text-decoration: none;
}

#logo #slogan {
	font-family: serif, sans-serif, Helvetica, Arial;
	font-size: 160%;
	font-style: italic;
	text-align: center;
	color: black;
	text-decoration: none;
}

#logo img {
	max-width: 30em;
}

#language_menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	color: #999;
	line-height: 17px;
}

#language_menu a.language_item {
	text-decoration: none;
	border: none;
	display: inline-block;
}

#language_menu img {
	cursor: pointer;
}

#currency {
	width: 75px;
	position: absolute;
	top: -50px;
	right: 10px;
	color: #999;
	line-height: 17px;
}

.breadcrumb {
	color: #CCCCCC;
	margin-bottom: 10px;
}

#notification {
}

.message {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
	border: 1px solid #CFCFCF;
	background-color: #EEEEEE;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	overflow: auto;
}

.message.success {
	background: #EAF7D9;
	background-size: 16px 16px;
	border-color: #BBDF8D;
}

.message.warning {
	background: #FFD1D1;
	background-size: 16px 16px;
	border-color: #F8ACAC;
}

.message.attention, .message.notify {
	background: #FFF5CC;
	background-size: 16px 16px;
	border-color: #F2DD8C;
}

.required:after {
	content: '*';
	color: #FF0000;
	font-weight: bold;
}

.error {
	display: block;
	color: #FF0000;
}

/* button */
.button {
	display: inline-block;
	padding: 6px 12px;
	font-size: 1.2em;
	color: white;
	background: #92acc6;
	border-radius: 3px;
	border: none;
	outline: 0;
	text-decoration: none;
	cursor: pointer;
}

.button:visited {
	color: #92acc6;
}

.button:hover, .button:active {
	color: #92acc6;
	background: #C4DBF1;
}

a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}

input.button {
	margin: 0;
	border: 0;
	height: 24px;
	padding: 0px 12px 0px 12px;
}

/* box */
.box {
	margin-bottom: 20px;
}

.box .box_heading {
	padding: 0 10px 7px 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #636363;
}

.box .box_content {
	padding: 10px 0 10px 3px;
}

/* Form */
#container form {
	display: block;
	width: 50%;
	margin: auto;
	padding-left: 40px;
}

.install_item {
	margin-bottom: 10px;
}

.install_item label {
	display: inline-block;
	width: 200px;
	font-size: 16px;
	color: #003366;
}

.install_item input {

}

/* help icon */
.help_icon {
	position: absolute;
	top: -20px;
	right: -20px;
	padding: 3px 3px 0px 4px;
	cursor: pointer;
	font-size: 11px;
	width: 8px;
	height: 13px;

	font-weight: bold;
	color: #A0C0F0;
	border: solid 1px #A0C0F0;
	background-color: white;

	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

	-moz-border-radius: 50%;
	-khtml-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.help_icon:before {
	content: "?";
	font-weight: bold;
	color: #A0C0F0;
	position: relative;
	top: -2px;
}

.help_icon_box {
	position: relative;
	display: inline-block;
}

.help_icon_popup {
	display: none;
	position: absolute;
	z-index: 100;
	right: 15px;
	top: 0;
	width: 200px;
	border: 1px solid #A0C0F0;
	padding: 10px;
	color: #A0C0F0;
	font-size: 11px;

	background: white;
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.help_icon:hover .help_icon_popup {
	display: block;
}
