/******** PAGE DEFAULTS ********************/

@font-face {
	font-family: MercurySemiBold;
	src: url('../fonts/MercuryTextG4-SemiBold-Pro.eot');
	src: local('☺'), url('../fonts/MercuryTextG4-SemiBold-Pro.otf') format('opentype'), url('../fonts/MercuryTextG4-SemiBold-Pro.woff') format('woff'), url('../fonts/MercuryTextG4-SemiBold-Pro.ttf') format('truetype'), url('../fonts/MercuryTextG4-SemiBold-Pro.svg') format('svg');
}

html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	position:relative;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	text-align: center;
	color: #4F4F4F;
	font-family: Arial, MercurySemiBold, Verdana;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 45px;
	font-weight: normal;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}
h2 {
	color: #636363;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}

h3{
	color:#4D4D4D;
	font-size:18px;
}

p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a b {
	color: #999999;
	text-decoration: underline;
	cursor: pointer;
}

a:visited{
	color: #999999;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
ul{
	margin:0;
	-webkit-padding-start:0;
	-webkit-padding-end:0;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	-moz-padding-start:0;
	-moz-padding-end:0;
	-moz-margin-before:0;
	-moz-margin-after:0;
	list-style:none;
}
/* layout */
#container {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:10px;
}
#container_content{
	padding:20px 0;
}

#content_holder{
	min-height: 600px;
	margin-bottom: 25px;
	padding-top:40px;
	position:relative;
	overflow:visible;
}

#content_top{
}
#content_bottom{
}

#column_left {
	float: left;
	width: 200px;
}

#column_right {
	float: right;
	width: 200px;
}

#content{
	overflow:visible;
}

#column_left ~ #content{
	padding-left: 215px;
}

#column_right ~ #content{
	padding-right: 215px;
}

/* header */
#header{
	position:relative;
	text-align:center;
	z-index:1000;
}

#header_right{
	position:absolute;
	right:0;
	top:0;
	z-index: 5;
}

#header_right > div{
	margin-bottom:15px;
}

#logo {
	display:inline-block;
}
#logo a{
	text-decoration: none;
}

#logo #slogan{
	font-family: serif, sans-serif, Helvetica, Arial;
	font-size:160%;
	font-style: italic;
	text-align:center;
	color: black;
	text-decoration: none;
}

#language_menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	color: #999;
	line-height: 17px;
}
#language_menu a.language_item{
	text-decoration:none;
	border:none;
	display:inline-block;
}

#language_menu img {
	cursor: pointer;
}
#currency {
	width: 75px;
	position: absolute;
	top: -50px;
	right:10px;
	color: #999;
	line-height: 17px;
}

.breadcrumb {
	color: #CCCCCC;
	margin-bottom: 10px;
}


#notification{
}

.message_box {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
	border: 1px solid #CFCFCF;
	background-color: #EEEEEE;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	overflow:auto;
}

.message_box.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	background-size:16px 16px;
	border-color: #BBDF8D;
}
.message_box.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	background-size:16px 16px;
	border-color: #F8ACAC;
}
.message_box.attention,.message_box.notify {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	background-size:16px 16px;
	border-color: #F2DD8C;
}

.message_box .close{
	float: right;
	cursor: pointer;
	background: transparent url('../image/close.png') 0px center no-repeat;
	background-size: 32px 16px;
	width: 16px;
	height: 16px;
}

.message_box .close:hover, .message_box .close:active{
	background: transparent url('../image/close.png') -16px center no-repeat;
	background-size: 32px 16px;
}

.required:after{
	content: '*';
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}

/* button */
.button {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	
	background: #003366; /* Old browsers */
	background: -webkit-linear-gradient(top,  #003366 0%,#212121 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top,  #003366 0%, #212121 100%); /* FF3.6+ */
	background: -o-linear-gradient(top,  #003366 0%,#212121 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #003366 0%,#212121 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #003366 0%,#212121 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#212121',GradientType=0 ); /* IE6-8 */

	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}
input.button {
	margin: 0;
	border: 0;
	height: 24px;
	padding: 0px 12px 0px 12px;
}
.button:hover{
	background: #212121; /* Old browsers */
	background: -webkit-linear-gradient(top,  #212121 0%,#003366 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top,  #212121 0%, #003366 100%); /* FF3.6+ */
	background: -o-linear-gradient(top,  #212121 0%,#003366 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #212121 0%,#003366 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #212121 0%,#003366 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#003366',GradientType=0 ); /* IE6-8 */
}
.button:active {
	position:relative;
	top:2px;
	left:1px;
}

/* box */
.box {
	margin-bottom: 20px;
}
.box .box-heading {
	padding: 0 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #636363;
}
.box .box-content {
	padding: 10px 0 10px 3px;
}

/* Form */
#container form{
	display:block;
	width: 50%;
	margin: auto;
	padding-left: 40px;
}

.install_item{
	margin-bottom: 10px;
}

.install_item label{
	display: inline-block;
	width: 200px;
	font-size: 16px;
	color: #003366;
}

.install_item input{
	
}

/* help icon */
.help_icon{
	position:absolute;
	top:-20px;
	right:-20px;
	padding: 3px 3px 0px 4px;
	cursor: pointer;
	font-size:11px;
	width:8px;
	height:13px;
	
	font-weight: bold;
	color:#A0C0F0;
	border: solid 1px #A0C0F0;
	background-color: white;
	
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	
  	-moz-border-radius: 50%;
  	-khtml-border-radius: 50%;
  	-webkit-border-radius:50%;
  	border-radius: 50%;
}

.help_icon:before{
	content: "?";
	font-weight: bold;
	color:#A0C0F0;
	position:relative;
	top:-2px;
}

.help_icon_box{
	position:relative;
	display:inline-block;
}


.help_icon_popup{
	display:none;
	position:absolute;
	z-index:100;
	right: 15px;
	top:0;
	width:200px;
	border: 1px solid #A0C0F0;
	padding: 10px;
	color:#A0C0F0;
	font-size:11px;
	
	background:white;
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	
  	-moz-border-radius: 10px;
  	-khtml-border-radius: 10px;
  	-webkit-border-radius:10px;
  	border-radius: 10px;
}
.help_icon:hover .help_icon_popup{
	display:block;
}