ac_config.php
*.git
/.idea
/.idea/*
.htaccess
/.project
*.db

/image/*
!/image/ac_logo.png
!/image/ac_icon.png

logs

/system/cron/*
!/system/cron/ac_cron.php
!/system/cron/job.php

/system/plugins/merged
/system/cache
/download
/system/database/backups

/plugin/*
!/plugin/dev

/app/view/theme/*
!/app/view/theme/fluid
!/app/view/theme/admin
/app/view/theme/fluid/template/page/*
!/app/view/theme/fluid/template/page/default.tpl
!/app/view/theme/fluid/template/page/content.tpl


/system/mods
/system/timeoffset
/system/resources/js/responsive-filemanager/thumbs
