oc_config.php
.htaccess
/.project
*.db

/image/data
logs
/system/plugins/merged
cache
/download
/system/database/backups

/plugin/*
!/plugin/janrain
!/plugin/dev
!/plugin/mail
!/plugin/collections


/catalog/view/theme/*
!/catalog/view/theme/default

/admin/view/theme/*
!/admin/view/theme/default

/admin/controller/catalog/product_class.php
/admin/language/english/catalog/product_class.php
/admin/model/catalog/product_class.php
/admin/view/theme/default/template/catalog/product_class_form.tpl
/admin/view/theme/default/template/catalog/product_class_list.tpl

/admin/controller/block/widget/janrain.php
/admin/language/english/block/widget/janrain.php
/admin/view/theme/default/template/block/widget/janrain_profile.tpl
/admin/view/theme/default/template/block/widget/janrain_settings.tpl
/catalog/controller/block/widget/janrain.php
/catalog/language/english/block/widget/janrain.php
/catalog/model/widget/janrain.php
/catalog/view/theme/default/template/block/widget/janrain.tpl
/image/janrain/rpx-icons16.png
/image/janrain/rpx-icons30.png
/catalog/controller/product/box.php
/catalog/controller/product/boxes.php
/catalog/language/english/product/box.php
/catalog/language/english/product/boxes.php

/admin/controller/catalog/subscription.php
/admin/language/english/catalog/subscription.php
/admin/model/catalog/subscription.php
/admin/view/theme/default/template/catalog/subscription_form.tpl
/admin/view/theme/default/template/catalog/subscription_list.tpl
