.row {
  display: block;
}

.wrap {
  margin: auto;
  min-width: @page-width-min;
  max-width: @page-width-max;
  position: relative;
  padding: @page-wrap-pad;
}

.row:after, .wrap:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.col {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  position: relative;
  min-height: 1px;

  &.top {
    vertical-align: top;
  }

  &.middle {
    vertical-align: middle;
  }

  &.bottom {
    vertical-align: bottom;
  }

  //Hack to overcome whitespace between inline-block elements
  & + .col {
    margin-left:-.29em;
  }

  &.left {
    text-align: left;
    float: none;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
    float: right;
  }
}

@media (min-width: @xs) {
  .wrap {
    width: @page-width-xs;
  }

  .columns(@num-cols);

  .columns(@cols, @c: 1) when (@c =< @cols) {
    .col.xs-@{c} {
      width: (@c * 100% / @cols);

      &.center {
        margin-left: ((100% - (@c * 100% / @cols)) / 2)
      }
    }
    .columns(@cols, @c + 1);
  }

  .col.xs-top {
    vertical-align: top;
  }
  .col.xs-middle {
    vertical-align: middle;
  }
  .col.xs-bottom {
    vertical-align: bottom;
  }
  .col.xs-left {
    text-align: left;
  }
  .col.xs-center {
    text-align: center;
  }
  .col.xs-right {
    text-align: right;
  }

  .xs-hidden, .sm-visible, .md-visible, .lg-visible {
    display: none !important;
  }

  .xs-visible {
    display: inherit !important;
  }
}

@media (min-width: @sm) {
  .wrap {
    width: @page-width-sm;
  }

  .columns(@num-cols);

  .columns(@cols, @c: 1) when (@c =< @cols) {
    .col.sm-@{c} {
      width: (@c * 100% / @cols);
      &.center {
        margin-left: ((100% - (@c * 100% / @cols)) / 2)
      }
    }
    .columns(@cols, @c + 1);
  }

  .col.sm-top {
    vertical-align: top;
  }
  .col.sm-middle {
    vertical-align: middle;
  }
  .col.sm-bottom {
    vertical-align: bottom;
  }
  .col.sm-left {
    text-align: left;
  }
  .col.sm-center {
    text-align: center;
  }
  .col.sm-right {
    text-align: right;
  }

  .xs-visible, .sm-hidden, .md-visible, .lg-visible {
    display: none !important;
  }

  .sm-visible {
    display: inherit !important;
  }
}

@media (min-width: @md) {
  .wrap {
    width: @page-width-md;
  }

  .columns(@num-cols);

  .columns(@cols, @c: 1) when (@c =< @cols) {
    .col.md-@{c} {
      width: (@c * 100% / @cols);
      &.center {
        margin-left: ((100% - (@c * 100% / @cols)) / 2)
      }
    }
    .columns(@cols, @c + 1);
  }

  .col.md-top {
    vertical-align: top;
  }
  .col.md-middle {
    vertical-align: middle;
  }
  .col.md-bottom {
    vertical-align: bottom;
  }
  .col.md-left {
    text-align: left;
  }
  .col.md-center {
    text-align: center;
  }
  .col.md-right {
    text-align: right;
  }

  .xs-visible, .sm-visible, .md-hidden, .lg-visible {
    display: none !important;
  }

  .md-visible {
    display: inherit !important;
  }
}

@media (min-width: @lg) {
  .wrap {
    width: @page-width-lg;
  }

  .columns(@num-cols);

  .columns(@cols, @c: 1) when (@c =< @cols) {
    .col.lg-@{c} {
      width: (@c * 100% / @cols);
      &.center {
        margin-left: ((100% - (@c * 100% / @cols)) / 2)
      }
    }
    .columns(@cols, @c + 1);
  }

  .col.lg-top {
    vertical-align: top;
  }
  .col.lg-middle {
    vertical-align: middle;
  }
  .col.lg-bottom {
    vertical-align: bottom;
  }
  .col.lg-left {
    text-align: left;
  }
  .col.lg-center {
    text-align: center;
  }
  .col.lg-right {
    text-align: right;
  }

  .xs-visible, .sm-visible, .md-visible, .lg-hidden {
    display: none !important;
  }

  .lg-visible {
    display: inherit !important;
  }
}
