/* Import Fonts */
.import-font('RobotoBlack', 'roboto/roboto-black-webfont');
.import-font('OpenSans', 'opensans/opensans-regular-webfont');
.import-font('OpenSans', 'opensans/opensans-italic-webfont', 'italic');
.import-font('OpenSans', 'opensans/opensans-semibold-webfont', 'normal', 600);
.import-font('OpenSans', 'opensans/opensans-bold-webfont', 'normal', 700);
.import-font('OpenSans', 'opensans/opensans-semibolditalic-webfont', 'italic', 600);
.import-font('OpenSans', 'opensans/opensans-bolditalic-webfont', 'italic', 700);

/**
  * General: ---
  * @color-main: The primary theme color
  * @color-secondary: The secondary theme color
  * @font-stack: Font Family Stack - The font families to use in order (eg: Arial, Helvetica, sans-serif)
  * @font-size: Font Size - The base font size. This will scale the entire theme so be careful using this!! Target individual font sizes using css / less styling in a stylesheet.
  * @color-font-dark: Font Dark - The primary text color for dark text
  * @color-font-light: Font Light - The primary text color for light text

  * Colors: ---
  * @color-success: Color indicating success
  * @color-notify: Color indicating a notification
  * @color-attention: Color indicating something should be brought to users attention
  * @color-error: Color indicating an error

  * Layout: ---
  * @xs: Device targeting for Extra Small (eg: Smart Phones) Screen Sizes
  * @sm: Device targeting for Small (eg: Tablets) Screen Sizes
  * @md: Device targeting for Medium (eg: small laptop / desktop monitors) Screen Sizes
  * @lg: Device targeting for Large (eg: typical laptop / desktop monitors and larger) Screen Sizes
  * @num-cols: The Number of columns to use for the fluid grid
  * @page-width-min: The smallest width the screen will resize to.
  * @page-width-xs: Page width for @xs sized devices
  * @page-width-sm: Page width for @sm sized devices
  * @page-width-md: Page width for @md sized screens
  * @page-width-lg: Page width for @lg sized screens

*/

/* Path Config */
@img-path: '@{base-path}image/';
@theme-path: '@{base-path}app/view/theme/amplo/';
@theme-img: '@{base-path}app/view/theme/amplo/image/';
@font-path: '@{base-path}app/view/theme/amplo/font/';

/* Core Styling */
@import '@{style-path}base';
@import '@{style-path}reset';
@import '@{style-path}navigation';
@import '@{style-path}jquery-ui';
@import '@{style-path}jquery-amp';
@import '@{style-path}file-manager';
@import '@{style-path}contact-manager';
@import '@{style-path}colorbox';
@import '@{style-path}slider';

/* LESS config */
@page-width-xl: 1080px;

//Primary Styling
@color-main: #33502B;
@color-secondary: #6F8272;
@color-dark: darken(@color-main, 15%);
@color-light: #DEEDDE;
@color-base: #AAAAAA;

@color-gray-light: #E5E5E5;
@color-gray: #BCC6B7;
@color-gray-dark: #3A3A3A;

//Colors
@color-success: #D7EDD7;
@color-attention: #FFFBE9;
@color-notify: #E6F1FB;
@color-error: #D15252;
@color-error-light: #FFD1D1;

//Legacy Styling
@color-lightest: lighten(@color-main, 50%);
@color-lighter: lighten(@color-main, 25%);
@color-darker: darken(@color-main, 25%);
@color-darkest: darken(@color-main, 50%);

//Selectables
@selectable-active: #EAF7D9;
@selectable-hover: #F2F9F2;

//Default Fonts
@font-stack: OpenSansRegular, Helvetica, sans-serif;
@font-size: 100%;
@font-default: @font-size @font-stack;
@color-font-light: lighten(@color-main, 25%);
@color-font-dark: #424242;

/* Imports */
@import 'style';
@import 'listings';
@import 'targeting';
