/* Import Fonts */
.import-font('RobotoBlack', 'roboto/roboto-black-webfont');
.import-font('OpenSansRegular', 'opensans/opensans-regular-webfont');
.import-font('OpenSansItalic', 'opensans/opensans-italic-webfont');
.import-font('OpenSansBoldItalic', 'opensans/opensans-bolditalic-webfont');
.import-font('OpenSansSemiBold', 'opensans/opensans-semibold-webfont');
.import-font('OpenSansSemiBoldItalic', 'opensans/opensans-semibolditalic-webfont');
.import-font('OpenSansBold', 'opensans/opensans-bold-webfont');

/**
  * General: ---
  * @color-main: The primary theme color
  * @color-secondary: The secondary theme color
  * @font-base-family: Font Family Stack - The font families to use in order (eg: Arial, Helvetica, sans-serif)
  * @font-base: Font Size / Family - The base font size. This will scale the entire theme so be careful using this!! Target individual font sizes using css / less styling in a stylesheet.
  * @font-dark: Font Dark - The primary text color for dark text
  * @font-light: Font Light - The primary text color for light text

  * Layout: ---
  * @xs: Device targeting for Extra Small (eg: Smart Phones) Screen Sizes
  * @sm: Device targeting for Small (eg: Tablets) Screen Sizes
  * @md: Device targeting for Medium (eg: small laptop / desktop monitors) Screen Sizes
  * @lg: Device targeting for Large (eg: typical laptop / desktop monitors and larger) Screen Sizes
  * @num-cols: The Number of columns to use for the fluid grid
  * @page-width-min: The smallest width the screen will resize to.
  * @page-width-xs: Page width for @xs sized devices
  * @page-width-sm: Page width for @sm sized devices
  * @page-width-md: Page width for @md sized screens
  * @page-width-lg: Page width for @lg sized screens

  * Links: ---
  * @link-font: Link font-size and font-family
  * @link-font-hover: Link font-size and font-family for hover / active state
  * @link-color: Link color
  * @link-color-hover: Link color for hover / active state

  * Messages: ---
  * @msg-fg-color: The default foreground color for messages
  * @msg-bg-color: The default background color for messages
  * @msg-success-fg-color: The foreground color for success type messages
  * @msg-success-bg-color: The background color for success type messages
  * @msg-error-fg-color: The foreground color for error type messages
  * @msg-error-bg-color: The background color for error type messages
  * @msg-attention-fg-color: The foreground color for attention type messages
  * @msg-attention-bg-color: The background color for attention type messages
  * @msg-notify-fg-color: The foreground color for notify type messages
  * @msg-notify-bg-color: The background color for notify type messages

  * Section Styling: ---
  * @header: Header Styling (full) - Style for the Header section
  * @footer: Footer Styling (full) - Style for the Footer section
  * @style-a: Section A Styling (full) - Style for the Section A
  * @style-b: Section B Styling (full) - Style for the Section B
  * @style-c: Section C Styling (full) - Style for the Section C
  * @style-d: Section D Styling (full) - Style for the Section D

*/

/* Path Config */
@img-path: '@{base-path}image/';
@theme-path: '@{base-path}app/view/theme/amplo/';
@theme-img: '@{base-path}app/view/theme/amplo/image/';
@font-path: '@{base-path}app/view/theme/amplo/font/';

/* LESS config */
@xs: 480px;
@sm: 768px;
@md: 1024px;
@lg: 1280px;
//note @xl is not needed, as this is screens > @lg

@num-cols: 12;

//Page Layout
@page-width-min: 320px;
@page-width-xs: 90%;
@page-width-sm: 90%;
@page-width-md: 728px;
@page-width-lg: 954px;
@page-width-xl: 1080px;
@page-width-max: 1080px;
@page-wrap-pad: 2em 0;

//Primary Styling
@color-main: #395D84;
@color-secondary: #973C3C;
@color-dark: #373737;
@color-light: #CCCCCC;
@color-base: #AAAAAA;

@color-gray-light: #E5E5E5;
@color-gray: #6A6E6F;
@color-gray-dark: #3A3A3A;

//Legacy Styling
@color-lightest: lighten(@color-main, 50%);
@color-lighter: #AFC5DD;
@color-darker: darken(@color-main, 25%);
@color-darkest: darken(@color-main, 50%);

//Default Fonts
@font-base-family: OpenSansRegular, Helvetica, sans-serif;
@font-base: 100% @font-base-family;
@font-base-color: @color-main;
@font-light: @color-light;
@font-dark: @color-dark;

//Default Links
@link-font: 1em;
@link-color: @color-main;
@link-font-hover: @link-font;
@link-color-hover: lighten(@link-color, 25%);

//Headers
@h1-color: @font-base-color;
@h1-font: 1.7em RobotoBlack;
@h2-color: @font-base-color;
@h2-font: 1.5em RobotoBlack;
@h3-color: @font-base-color;
@h3-font: 1em RobotoBlack;
@h4-color: @font-base-color;
@h4-font: 1.1em;
@h5-color: @font-base-color;
@h5-font: 1em;
@h6-color: @font-base-color;
@h6-font: .8em;

//Buttons
@button: { & {
  font: 1em OpenSansBold;
  text-transform: uppercase;
  color: white;
  background: @color-main;
  border: 1px solid @color-secondary;
  border-radius: 3px;
  padding: .8em 1em;
  min-width: 10em;

  &:hover {
    background: @color-lighter;
  }

  &.large {
    font-size: 1.3em;
    padding: 1em 3em;
  }
} };

//Input Text / Password
@input: { & {
  font-size: 1.1em;
  color: @color-secondary;
  background: white;
  border: #E2E2E2 1px solid;
  border-radius: 5px;
  padding: .5em 1em;
  width: 100%;
  outline: none;
  box-shadow: inset 0px 1px 1px 1px #D2D2D2;

  &:focus, &:active {
    border: 1px solid @color-main;
    box-shadow: inset 0 0 0 1px @color-main;
  }
} };

//Select
@select: { & {
  font-size: 1.1em;
  color: @color-secondary;
  background: white;
  border: #E2E2E2 1px solid;
  border-radius: 5px;
  padding: .5em 1em;
  width: 100%;
  outline: none;
  box-shadow: inset 0px 1px 1px 1px #D2D2D2;

  &:focus, &:active {
    border: 1px solid @color-main;
    box-shadow: inset 0 0 0 1px @color-main;
  }
} };

//Radio
@radio: { & {
  & + .label {
    font: 1.1em OpenSansBold;
    color: @color-main;
    background: white;
    border: @color-main 1px solid;
    border-radius: 20px;
    padding: .25em 2em;
    text-transform: uppercase;
  }

  &:checked, &.checked {
    & + .label {
      color: white;
      background: @color-main;
    }
  }
} };

//Checkbox
@checkbox: { & {
  & + .label {
    font-size: 1.1em;

    &:before {
      .bg-image-set('@{theme-img}sprite@1x.png', '@{theme-img}sprite@2x.png', '@{theme-img}sprite@3x.png');
      background-position: -17px -45px;
      width: 17px;
      height: 14px;
    }
  }

  &:checked, .checked {
    & + .label {
      &:before {
        background-position: 1px -45px;
      }
    }
  }

  &.cb-button {
    & + .label {
      background: white;
      padding: .3em .6em;
      border: #669EC1 1px solid;
      border-radius: 5px;
    }

    &:checked, .checked {
      & + .label {
        background: #00AEFF;
        color: white;
      }
    }
  }
} };

//Textarea
@textarea: { & {
  background: white;
  border: @font-base-color 1px solid;
  border-radius: 5px;
  padding: .3em .6em;
  outline: none;
  width: 100%;
} };

//Messages
@msg-fg-color: #555555;
@msg-bg-color: #CFCFCF;

@msg-success-bg-color: #EAF7D9;
@msg-success-fg-color: #8DAD62;

@msg-error-bg-color: #FFD1D1;
@msg-error-fg-color: #D15252;

@msg-attention-bg-color: #FFFBE9;
@msg-attention-fg-color: #E1CA34;

@msg-notify-bg-color: #E6F1FB;
@msg-notify-fg-color: #8DAFCF;

//Error
@error-color: #D15252;

//Navigation
@navigation: { & {
  font-size: 1em;

  a {
    padding: .6em 1em;
  }
} };

@navigation-primary: { & {
  color: #92acc6;

  .sub-menu {
    color: white;
  }
} };

@navigation-account: { & {

} };

//Tables

@table: { & {
  thead {
    tr {
      td {
        color: #C4DBF1;
        padding: .5em .4em;
        font-size: 1.1em;
      }
    }
  }

  tr {
    td {
      padding: .2em .4em;
    }
  }

  tfoot {
    tr {
      td {
        background: #C4DBF1;
        padding: .2em .4em;
      }
    }
  }
} };

@header: { & {
  width: 100%;
  background: white;

  .wrap {
    padding: 1em;
  }
} };

//Footer
@footer: { & {
  text-align: center;

  .sub-footer {
    color: @color-dark;
    background: @color-light;

    .wrap {
      padding: 1em;
    }

    a {
      color: @color-dark;
      font-family: OpenSansSemiBold;

      &:hover {
        color: lighten(@color-dark, 25%);
      }
    }

    .contact-info {
      a + a {
        margin-left: 2em;
      }
    }
  }

  .main-footer {
    font-size: .8em;
    color: @color-light;
    background: @color-dark;

    .wrap {
      padding: 1em;
    }

    a {
      color: @color-light;

      &:hover {
        color: darken(@color-light, 25%);
      }
    }
  }
} };

//Style A
@style-a: { & {
  background: white;
} };

//Style B
@style-b: { & {
  background: @color-lighter;
  color: @color-main;
} };

//Style C
@style-c: { & {
  color: #454545;
  background: #E4E4E4;
  border-bottom: 3px solid #454545;

  .wrap {
    padding: 4em 0;

    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -5px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #E4E4E4;
      z-index: 100;
      visibility: visible;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 50%;
      margin-left: -9px;
      width: 0;
      height: 0;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-top: 14px solid #454545;
      z-index: 99;
    }
  }
} };

//Style D
@style-d: { & {
  color: white;
  background: @color-main;
  min-height: 20em;

  .wrap {
    padding: 3em 0;

    h2 {
      color: white;
      font: 1.5em OpenSansRegular;
      text-transform: uppercase;
      text-align: left;
    }

    p {
      margin: 1em 0 0 0;
      text-align: left;
    }

    ul {
      margin-top: 1em;
      list-style: disc;
      margin-left: 1em;
      text-align: left;
    }

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -5px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #395d84;
    }
  }
} };

//Style D
@style-e: { & {
  color: @color-secondary;
  background: @color-lightest;
  min-height: 20em;

  .wrap {
    padding: 3em 0;

    h2 {
      font: 1.5em OpenSansBold;
      text-transform: uppercase;
      text-align: left;
    }

    p {
      margin: 1em 0 0 0;
      text-align: left;
    }

    ul {
      margin-top: 1em;
      list-style: disc;
      margin-left: 1em;
      text-align: left;
    }

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -5px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid @color-lightest;
    }
  }
} };

/* Imports */
@import '@{style-path}base';
@import '@{style-path}reset';
@import '@{style-path}jquery-ui';
@import '@{style-path}colorbox';
@import '@{style-path}slider';
@import 'style';
@import 'sprite';
@import 'listings';
@import 'targeting';
