/*************************
 *  X. Device Targeting  *
 *************************/
@media (max-width: (@lg - 1)) {
}

@media (max-width: (@md - 1)) {
  #container > main {
    min-height: 64%;
  }

  .header-navigation {
    .links-toggle {
      & + nav {
        .height-animate;
      }

      &.hover {
        .sprite-img.menu {
          .sprite-img.menu.close;
        }

        & + nav {
          overflow-y: auto;
          overflow-x: hidden;
          max-height: 22em;
        }

        &:after {
          content: '';
          position: absolute;
          width: 10000px;
          height: 10000px;
          left: -5000px;
          top: 5em;
          background: rgba(0, 0, 0, .9);
          z-index: 1;
        }
      }
    }

    nav.header-nav {
      position: absolute;
      right: -10em;
      top: 3.7em;
      text-align: right;
      width: 10000px;
      z-index: 50;

      .nav, .nav#links-primary, .nav#links-account {
        text-align: right;
        display: block;
        width: auto;
        margin: 0;

        &#links-account {
          margin-top: -.29em;
          border-top: 1px solid @color-dark;
        }

        .link-list {
          position: relative;
          display: block;

          ul {
            li {
              background: @color-lighter;
              display: block;
              width: 10000px;
              border-top: 1px solid @color-dark;

              a {
                padding: 1em 12em;
                font: .9em OpenSansRegular;
                color: @font-dark;
              }

              .sub-menu {
                width: auto;
                position: static;
                text-align: right;
                padding: 0;
                margin: 0;

                ul {
                  margin: 0;
                  padding: 0;

                  li {
                    display: block;
                    background: white;
                    border-color: @color-light;
                  }
                }
              }

              &:hover, &.hover {
                .sub-menu {
                  border-top: 1px solid @color-dark;
                  max-height: 50em;
                }
              }
            }
          }
        }

        .links-simple {
          display: block;

          a {
            background: @color-lighter;
            display: block;
            border-bottom: 1px solid @color-dark;
            padding: 1em 12em;
            font: .9em OpenSansRegular;
            color: @font-dark;
          }
        }
      }
    }
  }

  .account-page {
    h1 {
      .height-animate;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font: 1.7em OpenSansBold;
      color: @color-secondary;
    }

    .account-details {
      .wrap {
        width: 95%;
      }

      .side-menu {
        border-bottom: 2px solid @color-light;
        margin-top: 0;

        a {
          .height-animate;
          background: lighten(@color-base, 30%);
          border-top: 2px solid @color-light;
          padding: 0;
          font: 1.5em OpenSansBold;
          position: relative;

          &.active {
            max-height: 20em;
            padding: 1em;

            &:before {
              .sprite;
              .sprite.chevron.large;
              position: absolute;
              left: 1.5em;
              top: 1.1em;
            }
          }
        }

        & + .content-box {
          position: relative;

          &.loading {
            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, .25);
              z-index: 100;
            }
          }
        }
      }

      .content-box {
        padding: 1em;
      }
    }

    &.account-menu {
      .wrap {
        padding: 0;
        width: 100%;
      }

      h1 {
        max-height: 25em;
        padding: 1.3em 0;
        text-transform: none;
        color: @font-dark;
        letter-spacing: .03em;
      }

      .side-menu {
        a {
          max-height: 20em;
          padding: 1em;
          color: @color-main;
        }
      }

      .content-box {
        display: none;
      }
    }
  }
}

@media (max-width: (@sm - 1)) {
}

@media (max-width: (@xs - 1)) {
  section.page {
    font-size: .8em;

    .row {
      .wrap {
        min-width: 0;
      }
    }
  }
}

/** Screen Height correction so footer is near bottom */

@media (min-width: @md) and (max-height: @sm) {
  #container > main {
    min-height: 70%;
  }
}

@media (max-width: (@md - 1)) and (max-height: @sm) {
  #container > main {
    min-height: 50%;
  }
}
