<body>
<table style="width: 795px; border-collapse: collapse;" align="center" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td style="border: solid 1px #cccccc;">
<table style="width: 795px; border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td></td>
		</tr>
		<tr align="right">
			<td style="padding-top: 0px;">
				<table style="width: 795px; border-collapse: collapse;" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td style="padding-top: 5px; padding-left: 20px; padding-bottom: 10px;" valign="top"><a
									style="border: 0pt none;" title="BettyConfidential Shop - Live Gorgeously!"
									href="http://shop.bettyconfidential.com"><img
									src="http://bettyconfidential.img-us3.com/admin/images/shop_betty/BC_Shop_Logo_w-tagline_410w.jpg"
									alt="BettyConfidential Shop - Live Gorgeously!"
									title="BettyConfidential Shop - Live Gorgeously!"
									style="border: 0pt none; display: block; float: left;" align="left" height="110"
									width="410"></a></td>
							<td style="padding-top: 5px; padding-bottom: 10px; padding-left: 0px; text-align: right;"
									align="right" valign="top">
								<table style="width: 300px; border-collapse: collapse;" align="right" cellpadding="0"
										cellspacing="0">
									<tbody>
										<tr>
											<td style="text-align: right; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #7d7d7d; padding-top: 0px; padding-right: 10px; padding-bottom: 5px;"
													valign="top">Problems viewing this email? <a title="View on Web" href="%WEBCOPY%"
													width="250">Click here</a></td>
										</tr>
										<tr>
											<td style="text-align: right; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #7d7d7d; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;"
													valign="top" width="445">%SOCIALSHARE-FACEBOOK% %SOCIALSHARE-TWITTER% <a
													style="border: 0pt none;" href="http://pinterest.com/USERNAME/"><img
													style="border: 0pt none;"
													src="http://passets-lt.pinterest.com/images/about/buttons/small-p-button.png"
													alt="Follow Me on Pinterest" height="16" width="16"></a></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<!-- DIVIDER --></tbody>
	<tbody>
		<tr>
			<td style="padding-bottom: 5px;" align="center" width="795"><img style="border: 0pt none;" title="divider"
					alt="divider"
					src="http://bettyconfidential.img-us1.com/admin/images/betty_fashion_finds/ashley_ashoff/divider.jpg"
					height="18" width="775"></td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				<table style="width: 795px; border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td width="20"></td>
							<td style="border-top: solid 1px #c2bcac; border-bottom: solid 1px #c2bcac; border-left: solid 1px #c2bcac; border-right: none; margin-bottom: 0px;"
									valign="center"><a href="http://shop.bettyconfidential.com/sale/ashley-ashoff"><img
									style="border: 0pt none;"
									src="http://images.bettyconfidential.com/img/a12/capricorn_flip_flop.jpg"
									alt="Museware Flip Flops" title="Museware Flip Flops" height="274" width="300"></a></td>
							<td style="padding-left: 10px; border-top: solid 1px #c2bcac; border-bottom: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-left: solid 1px #e8e8e8; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #000000; text-align: left; background-color: #e8e8e8; width: 450px; margin-bottom: 0px;"
									height="274" valign="top">
								<table style="width: 450px; border-collapse: collapse;" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td style="color: #696969; font-size: 16px; margin-top: 0px; font-family: Arial, Helvetica, sans-serif; text-align: left; padding-right: 10px;"
													width="110"><strong><span style="text-decoration: line-through;">Retail: $175</span></strong>
											</td>
											<td style="color: #696969; font-size: 16px; margin-top: 0px; font-family: Arial, Helvetica, sans-serif; text-align: left; padding-right: 10px;"
													width="180"><span style="color: #ec227b;"><strong>Betty Flash:
												$87.50</strong></span></td>
											<td style="padding-top: 5px; padding-bottom: 5px; background: none repeat scroll 0% 0% #c2bcac; color: white; text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-bottom: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt;"
													align="right" width="210"><strong>September 5, 2012</strong></td>
										</tr>
										<tr>
											<td style="padding-top: 10px; padding-bottom: 10px; color: #696969; font-size: 16px; font-family: Arial,Helvetica,sans-serif; margin-bottom: 0px;"
													colspan="3">
												<p style="color: #696969; font-size: 16px; margin-top: 0px; font-family: Arial, Helvetica, sans-serif;">
													<span></span><span style="font-size: 10pt;"><a
														style="color: #d20f8c; text-decoration: underline;"
														href="http://shop.bettyconfidential.com/sale/ashley-ashoff" target="_blank"><strong>Ashley
													Ashoff's</strong></a> beautiful silk scarves combine European glamor with Californian dreaminess. Her Baudelaire scarf is inspired by the designer's favorite French poem -- tres romantic! As elegant as a fine piece of jewelry, they're the perfect finishing touch for any outfit. Wrap yourself in gorgeousness!<br></span>
												</p>

												<p style="color: #696969; font-size: 16px; margin-top: 0px; font-family: Arial, Helvetica, sans-serif;">
                                        <span href="http://shop.bettyconfidential.com/sale/soria-z-jewelry"><span
		                                        style="font-size: 10pt;"><a
		                                        style="color: #d20f8c; text-decoration: underline;"
		                                        href="http://www.bettyconfidential.com/ar/ld/a/california-dreams-meet-european-glamor-in-ashley-ashoffs-gorgeous-silk-scarves.html">Click
	                                        here to meet the designer</a> -- and <a
		                                        style="color: #d20f8c; text-decoration: underline;"
		                                        href="http://shop.bettyconfidential.com/sale/ashley-ashoff"
		                                        target="_blank"><strong>click here to start
	                                        shopping</strong></a>!</span></span></p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="16"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<table style="width: 795px; border-collapse: collapse;" cellpadding="0" cellspacing="0"><!-- TWO COLUMN TABLE START -->
	<tbody>
		<tr>
			<td style="padding-left: 0px; padding-top: 10px; padding-bottom: 10px;" valign="top"><!-- LEFT COLUMN START -->
				<!-- ROW 1 ITEMS -->
				<table style="width: 495px; border-collapse: collapse;" cellpadding="0" cellspacing="0">
					<tbody>
						<tr><!-- PRODUCT 1 ITEM -->
							<td style="padding-left: 14px; padding-top: 0px; padding-bottom: 10px;">
								<table style="border-collapse: collapse; width: 245px; height: 258px;" cellpadding="0"
										cellspacing="0">
									<tbody>
										<tr>
											<td colspan="2"
													style="text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; width: 230px; height: 180px;"
													valign="center"><a href="http://shop.bettyconfidential.com/sale/ashley-ashoff"><img
													src="http://shop.bettyconfidential.com/image/cache/data/apparel/ashley%20ashoff/silk-twill-long-square-230x178.jpg"
													alt="Ashley Ashoff " title="Ashley Ashoff " style="border: 0pt none;"
													height="178" width="230"></a></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<strong><span style="text-decoration: line-through;">Retail: $175</span></strong>
											</td>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<span style="color: #ec227b;"><strong>Betty Flash: $87.50</strong></span></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;"
													colspan="2"><strong>Baudelaire Collection Scarf </strong></td>
										</tr>
										<tr>
											<td colspan="2"
													style="padding-top: 5px; padding-bottom: 5px; background: none repeat scroll 0% 0% #c2bcac; color: white; text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-bottom: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt;">
												<a style="color: #ffffff; text-decoration: none;"
														href="http://shop.bettyconfidential.com/sale/ashley-ashoff"><strong>SHOW ME
													NOW!</strong></a></td>
										</tr>
									</tbody>
								</table>
							</td>
							<!-- PRODUCT 2 ITEM -->
							<td style="padding-left: 15px; padding-top: 0px; padding-bottom: 10px;">
								<table style="border-collapse: collapse; width: 245px; height: 258px;" cellpadding="0"
										cellspacing="0">
									<tbody>
										<tr>
											<td colspan="2"
													style="text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; width: 230px; height: 180px;"
													valign="center"><a href="http://shop.bettyconfidential.com/soria-z-jewelry"><img
													src="http://shop.bettyconfidential.com/image/cache/data/user_uploads/user_soriazjewelry/Soria%20Z.%20Jewelry_SZ%20Leather%20Bracelet%20-%20Black%20Silver-230x178.jpg"
													alt="sz leather bracelet" title="sz leather bracelet" style="border: 0pt none;"
													height="178" width="230"></a></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<strong><span style="text-decoration: line-through;">Retail: $75</span></strong>
											</td>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<span style="color: #ec227b;"><strong>Betty Flash: $59</strong></span></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;"
													colspan="2"><strong>Soria Z. Leather Bracelet</strong></td>
										</tr>
										<tr>
											<td colspan="2"
													style="padding-top: 5px; padding-bottom: 5px; background: none repeat scroll 0% 0% #c2bcac; color: white; text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-bottom: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt;">
												<a style="color: #ffffff; text-decoration: none;"
														href="http://shop.bettyconfidential.com/product/sz-leather-bracelet-black-and-sterling-silver?flashsale_id=10"><strong>SHOW
													ME NOW!</strong></a></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- ROW 2 ITEMS -->
				<table style="width: 495px; border-collapse: collapse;" cellpadding="0" cellspacing="0">
					<tbody>
						<tr><!-- PRODUCT 1 ITEM -->
							<td style="padding-left: 14px; padding-top: 5px; padding-bottom: 10px;">
								<table style="border-collapse: collapse; width: 245px; height: 258px;" cellpadding="0"
										cellspacing="0">
									<tbody>
										<tr>
											<td colspan="2"
													style="text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; width: 230px; height: 180px;"
													valign="center"><a
													href="http://shop.bettyconfidential.com/product/stringtie-pendant-sterling-silver?flashsale_id=10"><img
													src="http://shop.bettyconfidential.com/image/cache/data/user_uploads/user_soriazjewelry/Soria%20Z.%20Jewelry_Bar%20Ring%20-%20Sterling%20Silver-230x178.jpg"
													alt="bar ring sterling" title="bar ring sterling" style="border: 0pt none;"
													height="178" width="230"></a></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<strong><span style="text-decoration: line-through;">Retail: $73</span></strong>
											</td>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<span style="color: #ec227b;"><strong>Betty Flash: $59</strong></span></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;"
													colspan="2"><strong><strong>Sterling</strong> Silver Bar Ring <br></strong></td>
										</tr>
										<tr>
											<td colspan="2"
													style="padding-top: 5px; padding-bottom: 5px; background: none repeat scroll 0% 0% #c2bcac; color: white; text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-bottom: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt;">
												<a style="color: #ffffff; text-decoration: none;"
														href="http://shop.bettyconfidential.com/product/stringtie-pendant-sterling-silver?flashsale_id=10"><strong>SHOW
													ME NOW!</strong></a></td>
										</tr>
									</tbody>
								</table>
							</td>
							<!-- PRODUCT 2 ITEM -->
							<td style="padding-left: 15px; padding-top: 5px; padding-bottom: 10px;">
								<table style="border-collapse: collapse; width: 245px; height: 258px;" cellpadding="0"
										cellspacing="0">
									<tbody>
										<tr>
											<td colspan="2"
													style="text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; width: 230px; height: 180px;"
													valign="center"><a
													href="http://shop.bettyconfidential.com/product/stringtie-pendant-sterling-silver?flashsale_id=10"><img
													src="http://shop.bettyconfidential.com/image/cache/data/user_uploads/user_soriazjewelry/Soria%20Z.%20Jewelry_Stringtie%20Pendant%20-%20Sterling%20Silver-230x178.jpg"
													alt="stringtie pendant" title="stringtie pendant" style="border: 0pt none;"
													height="178" width="230"></a></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<strong><span style="text-decoration: line-through;">Retail: $80</span></strong>
											</td>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<span style="color: #ec227b;"><strong>Betty Flash: $64</strong></span></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;"
													colspan="2"><strong>Stringtie Pendant<br></strong></td>
										</tr>
										<tr>
											<td colspan="2"
													style="padding-top: 5px; padding-bottom: 5px; background: none repeat scroll 0% 0% #c2bcac; color: white; text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-bottom: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt;">
												<a style="color: #ffffff; text-decoration: none;"
														href="http://shop.bettyconfidential.com/product/stringtie-pendant-sterling-silver?flashsale_id=10"><strong>SHOW
													ME NOW!</strong></a></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- ROW 3 ITEMS START -->
				<table style="width: 495px; border-collapse: collapse;" cellpadding="0" cellspacing="0">
					<tbody>
						<tr><!-- PRODUCT 1 ITEM -->
							<td style="padding-left: 14px; padding-top: 5px; padding-bottom: 10px;">
								<table style="border-collapse: collapse; width: 245px; height: 258px;" cellpadding="0"
										cellspacing="0">
									<tbody>
										<tr>
											<td colspan="2"
													style="text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; width: 230px; height: 180px;"
													valign="center"><a
													href="http://shop.bettyconfidential.com/product/stringtie-pendant-sterling-silver?flashsale_id=10"><img
													src="http://shop.bettyconfidential.com/image/cache/data/user_uploads/user_soriazjewelry/Soria%20Z.%20Jewelry_Bar%20Ring%20-%20Sterling%20Silver-230x178.jpg"
													alt="bar ring sterling" title="bar ring sterling" style="border: 0pt none;"
													height="178" width="230"></a></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<strong><span style="text-decoration: line-through;">Retail: $73</span></strong>
											</td>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<span style="color: #ec227b;"><strong>Betty Flash: $59</strong></span></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;"
													colspan="2"><strong><strong>Sterling</strong> Silver Bar Ring <br></strong></td>
										</tr>
										<tr>
											<td colspan="2"
													style="padding-top: 5px; padding-bottom: 5px; background: none repeat scroll 0% 0% #c2bcac; color: white; text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-bottom: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt;">
												<a style="color: #ffffff; text-decoration: none;"
														href="http://shop.bettyconfidential.com/product/stringtie-pendant-sterling-silver?flashsale_id=10"><strong>SHOW
													ME NOW!</strong></a></td>
										</tr>
									</tbody>
								</table>
							</td>
							<!-- PRODUCT 2 ITEM -->
							<td style="padding-left: 15px; padding-top: 5px; padding-bottom: 10px;">
								<table style="border-collapse: collapse; width: 245px; height: 258px;" cellpadding="0"
										cellspacing="0">
									<tbody>
										<tr>
											<td colspan="2"
													style="text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; width: 230px; height: 180px;"
													valign="center"><a
													href="http://shop.bettyconfidential.com/product/stringtie-pendant-sterling-silver?flashsale_id=10"><img
													src="http://shop.bettyconfidential.com/image/cache/data/user_uploads/user_soriazjewelry/Soria%20Z.%20Jewelry_Stringtie%20Pendant%20-%20Sterling%20Silver-230x178.jpg"
													alt="stringtie pendant" title="stringtie pendant" style="border: 0pt none;"
													height="178" width="230"></a></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<strong><span style="text-decoration: line-through;">Retail: $80</span></strong>
											</td>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;">
												<span style="color: #ec227b;"><strong>Betty Flash: $64</strong></span></td>
										</tr>
										<tr>
											<td style="text-align: center; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969;"
													colspan="2"><strong>Stringtie Pendant<br></strong></td>
										</tr>
										<tr>
											<td colspan="2"
													style="padding-top: 5px; padding-bottom: 5px; background: none repeat scroll 0% 0% #c2bcac; color: white; text-align: center; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-bottom: solid 1px #c2bcac; font-family: helvetica,arial,sans-serif; font-size: 10pt;">
												<a style="color: #ffffff; text-decoration: none;"
														href="http://shop.bettyconfidential.com/product/stringtie-pendant-sterling-silver?flashsale_id=10"><strong>SHOW
													ME NOW!</strong></a></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- ROW 3 ITEMS END --></td>
			<!-- LEFT COLUMN END --><!-- RIGHT COLUMN START --><!-- ARTICLE PROMO START -->
			<td style="padding-top: 10px; padding-right: 5px; padding-bottom: 10px;" align="left" valign="top">
				<table style="border-collapse: collapse; width: 248px;" valign="top" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td style="background-color: white; padding-bottom: 5px; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-top: solid 1px #c2bcac;"
									align="center"><a
									href="http://www.bettyconfidential.com/ar/ld/a/up-for-grabs-kim-kardashians-discarded-wardrobe-is-on-ebay-for-real.html"><img
									src="http://bettyconfidential.img-us3.com/admin/images/shop_betty/B_Hot_List_c.jpg"
									alt="B's Hot List" title="B's Hot List"
									style="border: 0pt none; display: block; margin-left: auto; margin-right: auto;" height="50"
									width="205"></a></td>
						</tr>
					</tbody>
				</table>
				<table style="border-collapse: collapse; width: 248px; height: 473px;" valign="top" cellpadding="0"
						cellspacing="0">
					<tbody>
						<tr>
							<td style="background-color: white; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; padding-bottom: 3px;"
									align="center"><a
									href="http://www.bettyconfidential.com/ar/ld/a/california-dreams-meet-european-glamor-in-ashley-ashoffs-gorgeous-silk-scarves.html"><img
									style="border: 0pt none;"
									src="http://images.bettyconfidential.com/img/a12/ashley_ashoff_relaxing.jpg"
									alt="Ashley Ashoff" title="Ashley Ashoff" height="136" width="225"></a></td>
						</tr>
						<!-- B's HOT LIST START -->
						<tr>
							<td style="padding-top: 5px; padding-bottom: 0px; padding-right: 12px; background-color: white; border-left: solid 1px #c2bcac; border-right: solid 1px #c2bcac; border-bottom: solid 1px #c2bcac;"
									align="left" valign="top">
								<ol style="color: black; font-family: helvetica,arial,sans-serif; font-size: 13px; font-weight: bold; padding-left: 27px; width: 205px;">
									<li style="margin-bottom: 12px; text-align: left;"><a
											style="text-decoration: underline; color: #696969;"
											href="http://www.bettyconfidential.com/ar/ld/a/california-dreams-meet-european-glamor-in-ashley-ashoffs-gorgeous-silk-scarves.html"><span><span>California Dreams Meet European Glamor in Ashley Ashoff's Gorgeous Silk Scarves</span></span></a>
									</li>
									<li style="margin-bottom: 12px; text-align: left;"><a
											style="text-decoration: underline; color: #696969;"
											href="http://www.bettyconfidential.com/ar/ld/a/fashions-night-out-weve-got-your-list-across-the-usa.html"><span>Your Ultimate Guide to Fashion's Night Out: NYC, LA, Dallas + Chicago!</span></a>
									</li>
									<li style="margin-bottom: 12px; text-align: left;"><a
											style="text-decoration: underline; color: #696969;"
											href="http://www.bettyconfidential.com/ar/ld/a/beauty-road-test-physicians-formula-matchmaker-ph-powered-blush.html"><span><span>BEAUTY ROAD TEST: Super Smart Blush That Adjusts to Your Perfect Color? Yes Please!</span></span></a>
									</li>
									<li style="margin-bottom: 12px; text-align: left;"><a
											style="text-decoration: underline; color: #696969;"
											href="http://www.bettyconfidential.com/ar/ld/a/win-it-canon-powershot-digital-camera-speechless-by-hannah-harrington.html">Win
										It! Canon PowerShot + More!</a></li>
									<li style="margin-bottom: 12px; text-align: left;"><a
											style="text-decoration: underline; color: #696969;"
											href="http://www.bettyconfidential.com/ar/ld/a/sneak-peek-kardashian-kollection-kurves-curvy-girl-fashion-hits-sears-october.html"><span>Sneak Peek: The Kardashian Kollection Goes Curvy!</span></a>
									</li>
									<li style="margin-bottom: 12px; text-align: left;"><a
											style="text-decoration: underline; color: #696969;"
											href="http://www.bettyconfidential.com/ar/ld/a/win-it-canon-powershot-digital-camera-speechless-by-hannah-harrington.html">Win
										It! Canon PowerShot + More!</a></li>
									<li style="margin-bottom: 12px; text-align: left;"><a
											style="text-decoration: underline; color: #696969;"
											href="http://www.bettyconfidential.com/ar/ld/a/sneak-peek-kardashian-kollection-kurves-curvy-girl-fashion-hits-sears-october.html"><span>Sneak Peek: The Kardashian Kollection Goes Curvy!</span></a>
									</li>
									<li style="margin-bottom: 12px; text-align: left;"><a
											style="text-decoration: underline; color: #696969;"
											href="http://www.bettyconfidential.com/ar/ld/a/win-it-canon-powershot-digital-camera-speechless-by-hannah-harrington.html">Win
										It! Canon PowerShot + More!</a></li>
									<li style="margin-bottom: 12px; text-align: left;"><a
											style="text-decoration: underline; color: #696969;"
											href="http://www.bettyconfidential.com/ar/ld/a/sneak-peek-kardashian-kollection-kurves-curvy-girl-fashion-hits-sears-october.html"><span>Sneak Peek: The Kardashian Kollection Goes Curvy!</span></a>
									</li>
									<li style="margin-bottom: 12px; text-align: left;"><a
											style="text-decoration: underline; color: #696969;"
											href="http://www.bettyconfidential.com/ar/ld/a/sneak-peek-kardashian-kollection-kurves-curvy-girl-fashion-hits-sears-october.html"><span>Sneak Peek: The Kardashian Kollection Goes Curvy!</span></a>
									</li>
								</ol>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- RIGHT COLUMN END --> <!-- TWO COLUMN TABLE END --> <!-- CENTER TWO COLUMN TABLE END --></td>
		</tr>
	</tbody>
</table>
<!-- DIVIDER -->
<table style="width: 795px; border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td align="center" width="795"><img style="border: 0pt none;" title="divider" alt="divider"
					src="http://bettyconfidential.img-us1.com/admin/images/betty_fashion_finds/ashley_ashoff/divider.jpg"
					height="18" width="775"></td>
		</tr>
	</tbody>
</table>
<!-- CONTENT ROW 2 -->
<table style="width: 795px; border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="6" align="center" valign="top" width="795"><img style="border: 0pt none;"
					title="On BettyConfidential today"
					alt="On BettyConfidential today"
					src="http://bettyconfidential.img-us3.com/admin/images/shop_betty/on-bettyconfidential-today.jpg"
					height="70" width="396"></td>
		</tr>
		<tr>
			<td style="font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; text-align: left; padding: 10px; width: 110px;"
					valign="top"><a
					href="http://www.bettyconfidential.com/ar/ld/a/love-it-or-hate-it-keira-knightley-in-chanel-at-the-anna-karenina-premiere.html"><img
					style="border: 0pt none;"
					src="http://images.bettyconfidential.com/img/startraks/keira_knightley_anna_karenina_premiere.jpg"
					alt="Keira Knightley" title="Keira Knightley" height="155" width="94"></a></td>
			<td style="font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; text-align: left; padding: 10px; padding-left: 0px; width: 155px;"
					valign="top"><strong><strong><span>Love It or Hate It? Keira Knightley in Chanel at the 'Anna Karenina' Premiere</span></strong></strong>

				<div class="subhead" style="line-height: 18px;">Keira Knightley donned a blush-colored Chanel confection at
					the London premiere of 'Anna Karenina.'
				</div>
				<span> </span><a style="color: #d20f8c; text-decoration: underline;"
						href="http://www.bettyconfidential.com/ar/ld/a/love-it-or-hate-it-keira-knightley-in-chanel-at-the-anna-karenina-premiere.html">read
					more</a></td>
			<td style="font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; text-align: left; padding: 10px; width: 110px;"
					valign="top"><a
					href="http://www.bettyconfidential.com/ar/ld/a/hot-links-the-true-difference-between-new-york-and-la-style-.html"><img
					style="border: 0pt none;" src="http://images.bettyconfidential.com/img/a12/ny_style_thumb.jpg"
					alt="NY style" title="NY style" height="156" width="90"></a></td>
			<td style="font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; text-align: left; padding: 10px; padding-left: 0px; width: 155px;"
					valign="top">
				<strong><strong><span>Hot Links! The True Difference Between New York and LA Style</span></strong></strong>

				<div class="subhead" style="line-height: 18px;">Plus: September must-reads, ladies who were rejected by <em>Playboy</em>,
					and more!
				</div>
				<span> </span><a style="color: #d20f8c; text-decoration: underline;"
					href="http://www.bettyconfidential.com/ar/ld/a/hot-links-the-true-difference-between-new-york-and-la-style-.html">read
				more</a></td>
			<td style="font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; text-align: left; padding: 10px; width: 110px;"
					valign="top"><a
					href="http://www.bettyconfidential.com/ar/ld/a/her-hearts-in-the-city-soria-z-jewelry-is-inspired-by-nyc-her-mom.html"><img
					style="border: 0pt none;"
					src="http://images.bettyconfidential.com/img/a12/natalie_nguyen_soria_z._jewelry_headshot_1_2.jpg"
					alt="Soria Z" title="Soria Z" height="156" width="138"></a></td>
			<td style="font-family: helvetica,arial,sans-serif; font-size: 10pt; color: #696969; text-align: left; padding: 10px; padding-left: 0px; width: 155px;"
					valign="top"><strong><strong><span>SORIA Z. - Elegant and Chic<br></span></strong></strong>

				<div class="subhead" style="line-height: 18px;">We love that this jewelery line is named after the
					designer's mom, celebrating everlasting style that is both modern and graceful. (So sweet!)
				</div>
				<span></span><a style="color: #d20f8c; text-decoration: underline;"
						href="http://www.bettyconfidential.com/ar/ld/a/her-hearts-in-the-city-soria-z-jewelry-is-inspired-by-nyc-her-mom.html">read
					more</a></td>
		</tr>
	</tbody>
</table>
<!-- DIVIDER -->
<table style="width: 795px; border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td align="center" width="795"><img style="border: 0pt none;" title="divider" alt="divider"
					src="http://bettyconfidential.img-us1.com/admin/images/betty_fashion_finds/ashley_ashoff/divider.jpg"
					height="18" width="775"></td>
		</tr>
	</tbody>
</table>
<!-- footer: start -->
<table style="width: 795px; border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="font-size: 8pt; color: #7d7d7d; font-family: Arial,Helvetica,sans-serif; padding-top: 15px; padding-right: 25px; padding-bottom: 10px; padding-left: 25px; text-align: left;"
					width="795">You have received this email because you are a BettyConfidential, BettyConfidential Shop or
				AlleytotheValley.com newsletter subscriber. BettyConfidential<sup>®</sup> respects your privacy and does not
				sell, distribute, or share your e-mail address. To ensure delivery to your inbox, please add <a
						style="color: #7d7d7d; text-decoration: underline;" title="betty@bettyconfidential.com"
						href="mailto:betty@bettyconfidential.com">betty@bettyconfidential.com</a> to your contacts list. <a
						style="color: #7d7d7d; text-decoration: underline;" href="%WEBCOPY%">Click here</a> to tell your
				friends about BettyConfidential Shop. If you wish to unsubscribe, please <a
						style="color: #7d7d7d; text-decoration: underline;" href="%UNSUBSCRIBELINK%">click here</a>.<br>

				<p style="font-size: 8pt; color: #7d7d7d; font-family: Arial,Helvetica,sans-serif; text-align: center;">
					BettyConfidential<sup>®</sup> is a Registered Trademark property of<br>%SENDER-INFO%<br> Copyright ©
					2008-2012 All rights reserved.</p>
			</td>
		</tr>
	</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
