/* Vars */
@xs: 480px;
@sm: 768px;
@md: 1024px;
@lg: 1280px;
//@xl is all screens > @lg. Set to @lg as some screens will be too wide.
@xl: @lg;

@num-cols: 12;

//Page Layout
@page-width-min: 320px;
@padding-width: 1em;
@page-pad-xs: 2em 1em;
@page-pad-sm: 2em 1em;
@page-pad-md: 2em 1em;
@page-pad-lg: 2em 1em;
@page-pad-xl: 2em 1em;

/* Methods */
.bg-image-set(@s1, @s2, @s3) {
	background-image: url(@s1);
	background-image: -webkit-image-set(url(@s1) 1x, url(@s2) 2x, url(@s3) 3x);
	background-image: -moz-image-set(url(@s1) 1x, url(@s2) 2x, url(@s3) 3x);
	background-image: -ms-image-set(url(@s1) 1x, url(@s2) 2x, url(@s3) 3x);
	background-image: -o-image-set(url(@s1) 1x, url(@s2) 2x, url(@s3) 3x);
}

.import-font(@import-font-family, @font-file-name, @font-style: 'normal', @font-weight: 'normal') {
	@theme-font-file: '@{font-path}@{font-file-name}';
	@font-face {
		font-family: @import-font-family;
		src: url('@{theme-font-file}.eot');
		src: url('@{theme-font-file}.eot?#iefix') format('embedded-opentype'),
		url('@{theme-font-file}.woff2') format('woff2'),
		url('@{theme-font-file}.woff') format('woff'),
		url('@{theme-font-file}.ttf') format('truetype'),
		url('@{theme-font-file}.svg#@{import-font-family}') format('svg');
		font-style: @font-style;
		font-weight: @font-weight;
	}
}

.clearfix {
	&:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.select-text {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.align-middle {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
	.ws-hack;
}

.nowrap {
	white-space: nowrap;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.justify {
	text-align: justify;
}

.center {
	text-align: center;
	margin: auto;
}

.text-center {
	text-align: center;
	margin: auto;
}

.block {
	display: block;
}

.hidden {
	display: none !important;
}

.visible {
	display: inline-block !important;
}

/* Fluid Grid Layout */
.row {
	position: relative;
	display: block;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	float: none;

	&.left {
		text-align: left;
	}

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}

	&.justify {
		text-align: justify;
	}
}

.wrap {
	position: relative;
	margin: auto;
	width: auto;
	min-width: @page-width-min;
	box-sizing: border-box;

	&.fullscreen {
		max-width: none !important;
	}
}

.padding {
	padding: @padding-width/2;
}

.padding-vertical {
	padding: @padding-width/2 0;
}

.padding-horizontal {
	padding: 0 @padding-width/2;
}

.padding-left {
	padding-left: @padding-width;
}

.padding-right {
	padding-right: @padding-width;
}

.padding-top {
	padding-top: @padding-width;
}

.padding-bottom {
	padding-bottom: @padding-width;
}

//Hack to overcome whitespace between inline-block elements
.ws-hack {
	margin-right: -.3em !important;
}

.no-ws-hack {
	margin-right: 0 !important;
}

.col {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
	position: relative;
	min-height: 1px;
	line-height: 1em;
	width: 100%;
	float: none;
	.ws-hack;

	&:last-child {
		.no-ws-hack;
	}

	&.auto {
		width: auto;
	}

	&.top {
		vertical-align: top;
	}

	&.middle {
		vertical-align: middle;
	}

	&.bottom {
		vertical-align: bottom;
	}

	&.left {
		text-align: left;
	}

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}

	&.justify {
		text-align: justify;
	}
}

.wrapfix {
	.ws-hack;
}

//Extra Small
.wrap {
	max-width: @xs;
	padding: @page-pad-xs;
}

.columns(@num-cols);

.columns(@cols, @c: 1) when (@c =< @cols) {
	.xs-@{c} {
		width: (@c * 100% / @cols);

		&.center {
			margin-left: ((100% - (@c * 100% / @cols)) / 2)
		}
	}
	.columns(@cols, @c + 1);
}

&.xs-auto {
	width: auto;
}

&.xs-padding {
	padding: @padding-width/2;
}

&.xs-padding-vertical {
	padding: @padding-width/2 0;
}

&.xs-padding-horizontal {
	padding: 0 @padding-width/2;
}

&.xs-padding-left {
	padding-left: @padding-width;
}

&.xs-padding-right {
	padding-right: @padding-width;
}

&.xs-padding-top {
	padding-top: @padding-width;
}

&.xs-padding-bottom {
	padding-bottom: @padding-width;
}

&.xs-top {
	vertical-align: top;
}

&.xs-middle {
	vertical-align: middle;
}

&.xs-bottom {
	vertical-align: bottom;
}

&.xs-left {
	text-align: left;
}

&.xs-center {
	text-align: center;
}

&.xs-right {
	text-align: right;
}

&.xs-justify {
	text-align: justify;
}

@media (max-width: (@xs - 1)) {
	.xs-hidden, .sm-visible, .md-visible, .lg-visible, .xl-visible, .xs-hide {
		display: none !important;
	}
}

//Small
@media (min-width: @xs) {
	.wrap {
		max-width: @sm;
		padding: @page-pad-sm;
	}

	.columns(@num-cols);

	.columns(@cols, @c: 1) when (@c =< @cols) {
		.sm-@{c} {
			width: (@c * 100% / @cols);
			&.center {
				margin-left: ((100% - (@c * 100% / @cols)) / 2)
			}
		}
		.columns(@cols, @c + 1);
	}

	&.sm-auto {
		width: auto;
	}

	&.sm-padding-reset {
		padding: 0;
	}

	&.sm-padding {
		padding: @padding-width/2;
	}

	&.sm-padding-horizontal {
		padding: 0 @padding-width/2;
	}

	&.sm-padding-vertical {
		padding: @padding-width/2 0;
	}

	&.sm-padding-left {
		padding-left: @padding-width;
	}

	&.sm-padding-right {
		padding-right: @padding-width;
	}

	&.sm-padding-top {
		padding-top: @padding-width;
	}

	&.sm-padding-bottom {
		padding-bottom: @padding-width;
	}

	&.sm-top {
		vertical-align: top;
	}

	&.sm-middle {
		vertical-align: middle;
	}

	&.sm-bottom {
		vertical-align: bottom;
	}

	&.sm-left {
		text-align: left;
	}

	&.sm-center {
		text-align: center;
	}

	&.sm-right {
		text-align: right;
	}

	&.sm-justify {
		text-align: justify;
	}
}

@media (min-width: @xs) and (max-width: (@sm - 1)) {
	.xs-hidden, .sm-hidden, .md-visible, .lg-visible, .xl-visible, .sm-hide {
		display: none !important;
	}
}

//Medium
@media (min-width: @sm) {
	.wrap {
		max-width: @md;
		padding: @page-pad-md;
	}

	.columns(@num-cols);

	.columns(@cols, @c: 1) when (@c =< @cols) {
		.md-@{c} {
			width: (@c * 100% / @cols);
			&.center {
				margin-left: ((100% - (@c * 100% / @cols)) / 2)
			}
		}
		.columns(@cols, @c + 1);
	}

	&.md-auto {
		width: auto;
	}

	&.md-padding-reset {
		padding: 0;
	}

	&.md-padding {
		padding: @padding-width/2;
	}

	&.md-padding-vertical {
		padding: @padding-width/2 0;
	}

	&.md-padding-horizontal {
		padding: 0 @padding-width/2;
	}

	&.md-padding-left {
		padding-left: @padding-width;
	}

	&.md-padding-right {
		padding-right: @padding-width;
	}

	&.md-padding-top {
		padding-top: @padding-width;
	}

	&.md-padding-bottom {
		padding-bottom: @padding-width;
	}

	&.md-top {
		vertical-align: top;
	}

	&.md-middle {
		vertical-align: middle;
	}

	&.md-bottom {
		vertical-align: bottom;
	}

	&.md-left {
		text-align: left;
	}

	&.md-center {
		text-align: center;
	}

	&.md-right {
		text-align: right;
	}

	&.md-justify {
		text-align: justify;
	}
}

@media (min-width: @sm) and (max-width: (@md - 1)) {
	.xs-hidden, .sm-hidden, .md-hidden, .lg-visible, .xl-visible, .md-hide {
		display: none !important;
	}
}

//Large
@media (min-width: @md) {
	.wrap {
		max-width: @lg;
		padding: @page-pad-lg;
	}

	.columns(@num-cols);

	.columns(@cols, @c: 1) when (@c =< @cols) {
		.lg-@{c} {
			width: (@c * 100% / @cols);
			&.center {
				margin-left: ((100% - (@c * 100% / @cols)) / 2)
			}
		}
		.columns(@cols, @c + 1);
	}

	&.lg-auto {
		width: auto;
	}

	&.lg-padding-reset {
		padding: 0;
	}

	&.lg-padding {
		padding: @padding-width/2;
	}

	&.lg-padding-vertical {
		padding: @padding-width/2 0;
	}

	&.lg-padding-horizontal {
		padding: 0 @padding-width/2;
	}

	&.lg-padding-left {
		padding-left: @padding-width;
	}

	&.lg-padding-right {
		padding-right: @padding-width;
	}

	&.lg-padding-top {
		padding-top: @padding-width;
	}

	&.lg-padding-bottom {
		padding-bottom: @padding-width;
	}

	&.lg-top {
		vertical-align: top;
	}

	&.lg-middle {
		vertical-align: middle;
	}

	&.lg-bottom {
		vertical-align: bottom;
	}

	&.lg-left {
		text-align: left;
	}

	&.lg-center {
		text-align: center;
	}

	&.lg-right {
		text-align: right;
	}

	&.lg-justify {
		text-align: justify;
	}
}

@media (min-width: @md) and (max-width: (@lg - 1)) {
	.xs-hidden, .sm-hidden, .md-hidden, .lg-hidden, .xl-visible, .lg-hide {
		display: none !important;
	}
}

//Extra Large
@media (min-width: @lg) {
	.wrap {
		max-width: @xl;
		padding: @page-pad-xl;
	}

	.columns(@num-cols);

	.columns(@cols, @c: 1) when (@c =< @cols) {
		.xl-@{c} {
			width: (@c * 100% / @cols);
			&.center {
				margin-left: ((100% - (@c * 100% / @cols)) / 2)
			}
		}
		.columns(@cols, @c + 1);
	}

	&.xl-auto {
		width: auto;
	}

	&.xl-padding-reset {
		padding: 0;
	}

	&.xl-padding {
		padding: @padding-width/2;
	}

	&.xl-padding-vertical {
		padding: @padding-width/2 0;
	}

	&.xl-padding-horizontal {
		padding: 0 @padding-width/2;
	}

	&.xl-padding-left {
		padding-left: @padding-width;
	}

	&.xl-padding-right {
		padding-right: @padding-width;
	}

	&.xl-padding-top {
		padding-top: @padding-width;
	}

	&.xl-padding-bottom {
		padding-bottom: @padding-width;
	}

	&.xl-top {
		vertical-align: top;
	}

	&.xl-middle {
		vertical-align: middle;
	}

	&.xl-bottom {
		vertical-align: bottom;
	}

	&.xl-left {
		text-align: left;
	}

	&.xl-center {
		text-align: center;
	}

	&.xl-right {
		text-align: right;
	}

	&.xl-justify {
		text-align: justify;
	}

	.xs-hidden, .sm-hidden, .md-hidden, .lg-hidden, .xl-hidden, .xl-hide {
		display: none !important;
	}
}

@media handheld {
	.desktop {
		display: none !important;
	}
}

@media not handheld {
	.mobile {
		display: none !important;
	}
}

//Added at end to override .col
.no-ws-hack {
	margin-right: 0 !important;
}
