.amp-contact-manager {
	.acm-search {
		h3 {
			font-weight: bold;
			margin-bottom: .4em;
		}

		.help {
			font-size: .9em;
			margin-bottom: .2em;
		}

		input {
			padding: .6em;
		}
	}

	.acm-results {
		margin-top: 1em;
		border: 1px solid @color-dark;
		border-radius: 3px;

		.acm-add-contact {
			font-size: .9em;
			padding: .5em;
			border-bottom: 1px solid @color-light;
			cursor: pointer;

			.fa {
				color: @color-main;
			}

			.cancel {
				display: none;
			}
		}

		.acm-contact-form {
			display: none;
			padding: .5em .5em 1em 2.5em;

			button {
				width: 20em;
				max-width: 100%;
			}
		}

		.no-results {
			padding: .5em;
			display: none;
		}

		.acm-contact-list {
			.acm-contact {
				padding: .5em;

				&:hover {
					background: @selectable-hover;
				}

				.on-selected {
					display: none;
				}

				&.is-selected {
					.on-selected {
						display: inline-block;
					}
				}

				.acm-checked {
					width: 3em;
					color: green;
				}

				.spacing {
					width: 3em;
				}

				&.is-selected {
					background: @selectable-active;
				}

				.acm-remove-contact {
					font-size: .9em;
					position: absolute;
					top: .5em;
					right: 1em;
				}

				.acm-contact-info {
					.acm-field {
						font-size: .8em;
					}
				}

				& + .acm-contact {
					border-top: 1px solid @color-light;
				}

				.form-buttons {
					margin-top: 1em;

					a {
						font-size: .8em;
						color: @color-font-dark;
					}

					.cancel-form {
						display: none;
					}
				}

				&.editing {
					.acm-contact-form {
						display: block;
					}

					.form-buttons {
						.cancel-form {
							display: inline-block;
						}

						.edit-form {
							display: none;
						}
					}
				}
			}

			&.empty {
				& + .no-results {
					display: block;
				}
			}
		}

		&.adding {
			.acm-contact-list {
				display: none;
			}

			.acm-add-contact {
				.cancel {
					display: block;
				}

				.add {
					display: none;
				}
			}

			.acm-contact-form {
				display: block;
			}
		}
	}
}
