.amp-file-manager {
	.amp-fm-drop {
		border: 1px solid @color-dark;

		&.is-dropping {
			outline: 3px dashed @color-main;
		}
	}

	.amp-fm-folder-view {
		.upload-file-icon {
			margin: 2em 0;
		}
	}

	.amp-fm-input {
		position: absolute;
		left: -9999px;
	}

	.amp-fm-file-list {
		padding: 1em;
		display: inline-block;

		.amp-fm-file {
			display: inline-block;
			vertical-align: top;
			position: relative;
			border: 1px solid @color-light;
			border-radius: 3px;
			box-sizing: content-box;
			padding: 1em;
			margin: .5em;

			.thumbnail {
				overflow: hidden;

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}

			.controls {
				margin-top: 1em;
			}

			.remove-file {
				position: absolute;
				top: .3em;
				right: .3em;
				display: block;
				font-size: 1.2em;
				line-height: .9em;
				opacity: 0;
			}

			.progress-bar {
				position: relative;
				height: 1em;
				line-height: 1em;
				border: 1px solid @color-dark;
				border-radius: 5px;
				text-align: center;
				overflow: hidden;
				background: @color-light;

				.progress {
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 100%;
					background: @color-main;
				}

				.progress-msg {
					position: relative;
					color: white;
					z-index: 2;
					font: .75em/.75em OpenSansSemiBold;
					padding: .25em;
				}
			}

			.on-uploading {
				display: none;
			}

			&.is-uploading {
				.on-uploading {
					display: block;
				}

				.not-uploading {
					display: none;
				}
			}

			.on-selected {
				position: absolute;
				bottom: 1em;
				right: 1em;
				display: none;

				.fa {
					color: #00c800;
				}
			}

			&:hover {
				background: @selectable-hover;

				.remove-file {
					opacity: 1;
				}
			}

			&.selected {
				background: @selectable-active;

				.on-selected {
					display: block;
				}
			}
		}
	}

	.amp-fm-help {
		margin: 0 0 1em 0;

		b {
			font-family: OpenSansBold;
		}
	}

	&.is-filled {
		.on-empty {
			display: none;
		}
	}

	&.is-empty {
		.on-filled {
			display: none;
		}
	}
}
