.amp-slider {
	.amp-control {
		cursor: pointer;
		.no-select;
	}

	.amp-viewport {
		overflow: hidden;

		.amp-slide-list {
			position: relative;
			left: 0;
			top: 0;
			white-space: nowrap;
			-webkit-transition: left .5s, top .5s;
			transition: left .5s, top .5s;

			& > * {
				display: inline-block;
				vertical-align: middle;
				.ws-hack;
			}

			.amp-slide {
				white-space: normal;
			}
		}
	}
}
