//@page { size: landscape;}

#header, #menu, .site-footer, #user-alert, #footer, canvas, #colorbox, #cboxOverlay, .message, .messages {
  display: none !important;
}

.invoice-page {
  background: white;

	& > .heading {
		display: none;
	}

  .invoice-actions {
    display: none;
  }

  .invoice-preview {
    margin: 0;
    background: white;
    padding: 0;
    height: 100%;
  }
}

#client-invoice {
  box-shadow: none;
  margin: 0;
  padding: 0;
}

table tr td {
  -webkit-print-color-adjust: exact;
}
