@color-main: #DA8227;
@color-gray: #414042;
@color-gray-light: #9D9FA2;

.invoice-page {
	.invoice-preview {
    background: #CCCCCC;
    padding: 2em;
  }
}

table {
  tr {
    td {
      text-align: center;
      vertical-align: middle;
      font-size: 12px;
      background: white;
      color: @color-gray;
      padding: 5px;
      border: 1px solid @color-gray-light;
      width: 110px;
    }
  }

  thead {
    tr {
      td {
        font-size: 14px;
	      font-weight: bold;
        background: @color-gray;
        color: white;
        padding: 3px;
      }
    }
  }

  & + table {
    tr {
      td {
        border-top: 0;
      }
    }
  }
}

#client-invoice {
  background: white;
  width: 850px;
  min-height: 1100px;
  font-size: 12px;
  padding: 30px 50px;
  margin: 30px;
  box-sizing: border-box;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, .3), 3px -3px 8px rgba(0, 0, 0, .3), -3px 3px 8px rgba(0, 0, 0, .3), -3px -3px 8px rgba(0, 0, 0, .3);

  .scopetech-details {
    margin-top: 25px;

    p {
      line-height: 17px;
    }
  }

  .invoice-info {
    h2 {
      font-size: 25px;
      color: @color-gray;
      font-weight: bold;
    }

    .invoice-tables {
      float: right;
    }

    .invoice-date {
      margin-top: 10px;
    }
  }

  .billing-info {
    margin-top: 32px;

    .bill-to {
      .invoice-terms {
        width: 250px;

        tr {
          td {
            padding: 5px;
            text-align: left;
            line-height: 18px;
          }
        }
      }
    }

    .bill-amount {
      .invoice-amount {
        display: inline-block;

        thead {
          tr {
            td {
              background: @color-main;
              color: white;
            }
          }
        }
      }
    }
  }

  .cut-separator {
    margin: 6em 0 2em 0;

    .text {
      padding-bottom: 1em;
      color: @color-gray-light;
      border-bottom: 2px dashed @color-gray-light;
    }

    img {
      position: absolute;
      left: -7px;
      top: 9px;
    }
  }

  .invoice-list {
    table.line-items {
      border-bottom: 1px solid @color-gray-light;
      width: 100%;

      .item-label {
        width: 50%;
      }

      tbody {
        tr {
          .amount {
            text-align: right;
          }

          .item-label {
            text-align: left;
          }

          td {
            border-top: none;
            border-bottom: none;
          }

          &:nth-child(even) {
            td {
              background: #F2F3F3;
            }
          }
        }
      }
    }
  }
}
